// =====================
//  CONTACT INFORMATION
// =====================

.contact-information {
  a {
    @extend %anchor-icons;
    display: block;
  }

  @at-root {
    .location {
      margin-bottom: 1em;
    }
  }
}
