// ======
//  HERO
// ======

/*
  [1] Eftersom lösningen nedan kräver CSS transforms så visar vi den endast
      om stöd för det finns.

  [2] Den vita triangel som ligger över sidans hero. Skapar den med ett
      roterat pseudo-element.

  [3] Om .slideshow__wrap saknar klassen .slick-initialized, lägg
      display: none på alla .slideshow__slides som kommer efter den första.
      Vi gör detta för att slippa en FOUC av stackande bilder, och för att
      bara visa en bild från bildspelet för besökare utan javascript.
 */

.hero {
  overflow: hidden;
  max-height: size("hero");

  img {
    min-width: 100%;
    width: auto;
  }

  // html:not(.no-csstransforms) & { /* [1] */
  //   &:after {
  //     $triangle-length: 5em; /* [2] */

  //     @extend %basic-pseudo;
  //     position: absolute;
  //     left: 50%;
      
  //     width:          $triangle-length;
  //     height:         $triangle-length;
  //     bottom:      -#{$triangle-length / 2};
  //     margin-left: -#{$triangle-length / 2};
      
  //     background: #fff;
  //     box-shadow: site("box-shadow");
  //     @include transform(rotate(45deg));

  //     @include mq(medium, max-width) {
  //       font-size: .5em;
  //     }
  //   }
  // }

  &__text {
    @include position(absolute, 50%, 0, null);
    transform: translateY(-50%);
    font-size: 15px;

    &--jumbo {
      font: header("regular") 2em/1 header("family"), header("fallback");
      color: #fff;
      margin: 0;
      text-align: center;
      text-transform: lowercase;
      text-shadow: 0 0 gr(-1) rgba(#000, .75),
                   0 0 .1em   rgba(#000, .75);

      @include mq(small)  { font-size: gr(2); }
      @include mq(medium) { font-size: gr(3); font-weight: header("thin"); }
      @include mq(huge)   { font-size: 5em; }
    }
  }
}


$block: slideshow;

.#{$block} { /* [3] */
  &__wrap {
    &:not(.slick-initialized) {
      .#{$block}__slide {
        & + .#{$block}__slide {
          display: none;
        }
      }
    }
  }

  &__description {
    @include position(absolute, null, null, 0, 0);

    color: #fff;
    padding: gr(1) gr(1) gr(1) 1em;
    max-width: 40em;

    text-shadow: 0 0 gr(-1) #000;
    background: linear-gradient(to right,
                                rgba(#000, .75),
                                rgba(#000, 0));


    @include mq(medium, max-width) {
      font-size: .9em;
      max-width: 100%;
    }

    @include mq(small, max-width) {
      display: none;
    }

    p {
      margin: 0;
    }

    h3 {
      font-size: gr(1);
      margin: 0;
    }

    h4 {
      font-size: 1.2em;
      margin: 0;
      line-height: 1.4;
    }
  }
}