// ==================
//  MAIN BODY HEADER
// ==================

.page-head {
  margin-bottom: gr(2);

  &.skin {
    padding: 1em;

    @include mq(small) {
      padding: gr(1);
    }

    h1 {
      text-transform: uppercase;
      font-size: gr(1);
      font-weight: header("bold");
      margin: 0;
    }
  }
}

.header-image {
  padding: site("border-effect");
  border: 1px solid border("color");
  margin-top: gr(2);

  @at-root {
    .image-caption {
      padding: 1em;
      color: #fff;
      background: site("color");

      @include mq(small) {
        @include cover-all(site("border-effect"));
        top: auto;
        background: rgba(#000, gr(-1, null));
      }

      h4 {
        font-weight: header("bold");
        margin: 0;
        font-size: 1em;

        + p {
          margin-top: gr(-3);
        }
      }

      p {
        font-size: .85em;
      }
    }
  }

  @at-root {
    .constrain-image {
      // idk, kanske inte är en bra idé?
      max-height: size("header-image"); 
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

@include mq(medium, max-width) {
  @include if(csscalc) {
    .header-image { 
      padding: 0;
      border: 0;
      @include fill-screen;
    }

    .image-caption {
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}