// ===================
//  MOBILE NAVIGATION
// ===================

// main nav:
.toggle-menu {
  @extend %reset-input;
  @extend %cover-all;
  @extend %hide-medium;
  right: auto;
  padding: 0 gr(-2);
  display: block;
  color: #fff;
  overflow: hidden;

  &:before {
    @extend %icon-font;
    content: icon(menu);
    font-size: gr(1);
    display: block;
    float: left;

    @include parent("menu-open") {
      content: icon("cross");
    }
  }

  &:after {
    display: block;
    float: left;
    top: gr(-1);
    content: attr(data-button-open);

    text-transform: uppercase;
    font-size: 10px;
    font-weight: body("bold");

    margin-left: gr(-2);

    @include parent("menu-open") {
      content: attr(data-button-close);
    }
  }
}


// aside nav:
%toggle-submenu-focus {
  background: site("color");
  color: #fff;
}

.toggle-submenu {
  $button-border-width: 3px;

  @extend %reset-input;
  @extend %hide-medium;
  @extend %transition;

  display: block;
  padding: gr(-1);
  overflow: hidden;
  
  color: site("color");
  box-shadow: 0 0 0 $button-border-width site("color");
  border-radius: site("br");

  text-align: center;
  text-transform: uppercase;
  font-weight: body("bold");

  @include position(absolute, -#{gr(-3)}, -#{gr(-1)}, null, null);

  &:hover {
    @extend %toggle-submenu-focus;
  }

  &:before {
    @extend %icon-font;
    content: icon("submenu");
    font-size: 1.5em;
    line-height: 0.6;
    float: left;
    margin-right: .25em;
  }

  @include parent("submenu-open") {
    @extend %toggle-submenu-focus;
    margin-bottom: gr(2);
  }
}