// ===========
//  NEWS FEED
// ===========

.news-feed-excerpt {
  padding-top: gr(1);
}

// news article sections:
.news-header {
  line-height: 1;
  margin-bottom: gr(1);
}

.news-date {
  font-size: .85em;
  font-weight: body("bold");
}

.news-title {
  margin: gr(-3) 0;

  a {
    @extend %anchor-border;
  }
}

.news-footer {
  text-align: right;
}

.read-full-article {
  @extend %anchor-border;
  display: inline-block;
  margin-top: gr(-1);
}

.news-item {
  @include parent(news-feed-excerpt) {
    @extend %three;

    @include mq(medium) {
      float: left;
    }

    @include mq(medium, max-width) {
      &:not(:first-child) {
        margin-top: gr(1);
      }
    }
  }

  @include parent(news-feed) {
    &:not(:first-child) {
      padding-top: gr(1);
      margin-top:  gr(1);
      border-top:  1px solid cityscape("color");
    }
  }
}


// relevant styles:
.news-wrap-header {
  padding-bottom: 1em;
  border-bottom:  1px solid site("color");

  h2 {
    line-height: 1;
    float: left;
  }
}

.news-archive-link {
  @extend %anchor-border;
  margin-top: .2em;
  float: right;

  &:after {
    margin-left: .25em; 
    content: "»";
  }
}


.news-article {
  &__wrap {
    .news-header {
      margin-bottom: gr(2);

      padding-right: 10em;
    }

    .news-date {
      display: flex;
      align-items: center;
      @include position(absolute, 0, 0, 0, null);
    }
  }
}