// ==============
//  NEWS ARCHIVE
// ==============

$parent: news-archive;

.#{$parent} {
  @include mq(medium, max-width) {
    padding: 0 1em;
  }

  &__list {
    li {
      &, ul {
        padding: 0; // ta bort gamla properties...
      }
    }

    a {
      padding: gr(-1, em, 2) 0;
      display: inline-block;
      text-transform: none;
    }
  }

  &__year {
    padding: 1em 0;

    & + & {
      border-top: 1px solid border("color");

      @include mq(medium, max-width) {
        border-color: lighten(site("color"), 7.5%);
      }
    }

    &__title {
      font-size: 1.25em;
    }
  }

  &__month {
    margin-top: 1em;

    &__title {
      margin-bottom: gr(-3);
    }
  }
}



.toggle-archive {
  &__checkbox {
    @include position(absolute, null, null, null, -9999px);

    &:checked {
      + label {
        &:before {
          content: "–";
          top: -1px;
        }
      }
    }

    &:not(:checked) {
      ~ .#{$parent}__list--months {
        display: none;
      }
    }
  }

  &__label {
    @include position(absolute, 0);
    user-select: none;
    cursor: pointer;

    &:before {
      content: "+";
      padding: .8em;
      font-size: 1.2em;
      @include position(absolute, 0, 0, null, null);
    }
  }
}