// ===========
//  PORTRAITS
// ===========

.personnel-list {
  @extend %list-reset;
  text-align: center;
  font-weight: body("thin");


  html:not(.no-flexbox) & {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: block;
  }

  .person {
    margin-bottom: gr(1);
    float: left;
    width: 49.8%;


    @include mq(small, max-width) {
      &:nth-child(odd)  { padding-right: gr(1); }
      &:nth-child(even) { padding-left:  gr(1); }
    }

    @include mq(small) { @include dynamic-col(1, 3); }
    @include mq(large) { @include dynamic-col(1, 4); }
    @include mq(huge)  { @include dynamic-col(1, 5); }
    @include mq(crazy) { @include dynamic-col(1, 6); }

    ul {
      margin: 0;
    }

    &__info {
      margin-top: 1em;
    }
  }

  .photo {
    border: 1px solid border("color");
    width: 100%;
  }

  .fn {
    font-weight: header("bold");
    margin: 0;
    line-height: 1.45;
    font-size: .75em;

    @include mq(small) {
      font-size: .9em;
    }
  }

  .contact-personell {
    font-size: .75em;

    @include mq(small) {
      font-size: .9em;
    }
  }

  a {
    > span { cursor: pointer; }
  }
}
