// ================
//  SEARCH RESULTS
// ================

$parent: search-result;

.#{$parent} {
  @extend %first-last;

  &:first-child { border-top: 0; }

  &__wrap {
    @extend %list-reset;
  }

  &__link {
    display: block;
    padding: gr(1) 0;
    border-top: 1px solid border("color");

    .#{$parent}:first-child & {
      border-top:  0;
      padding-top: 0;
    }

    *       { cursor: pointer; }
    &:hover { color:  inherit; }
  }

  &__title {
    .#{$parent}__link:hover & {
      color: site("color");

      &:after {
        opacity: 1;
        transform: translateX(0);
        transition-timing-function: transition("swift-out");
      }
    }

    &:after {
      @extend %transition;
      transition-timing-function: trans("swift-in");
      opacity: 0;
      content: "»";
      color: site("color");
      margin-left: gr(-2);
      transform: translateX(-#{gr(-3)});
    }
  }


  &__search {
    display: block;
    margin-bottom: gr(2);

    h5 {
      font-size: 1em;
      margin-bottom: gr(-1);
      color: color($grey, 500);
    }

    input {
      @extend %transition;
      @extend %reset-input;
      border: 1px solid border("color");
      width: 100%;
      padding: gr(-1);
      font-size: 16px;
      border-radius: site("br");

      &:not(:focus) {
        opacity: .5;
        color: color($grey, 500);
      }
    }
  }
}