// ****************
// ** TRANSFORMS **
// ****************

// 2D + base
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin transform-($foo, $bar) {
  -webkit-transform-#{$foo}: $bar;
     -moz-transform-#{$foo}: $bar;
      -ms-transform-#{$foo}: $bar;
          transform-#{$foo}: $bar;
}


// 3D
@mixin perspective($foo) {
  -webkit-perspective: $foo;
     -moz-perspective: $foo;
          perspective: $foo;
}

@mixin backface($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}