// *****************
// ** CONVENIENCE **
// *****************

// Lägg till förälder innan &
@mixin parent($parent, $pseudo: null, $negation: null) {
  @if $pseudo == null {
    @at-root .#{$parent} & {
      @content;
    }
  }

  @else if $negation == null {
    @at-root .#{$parent}:#{$pseudo} & {
      @content;
    }
  }

  @else {
    @at-root .#{$parent}:not(:#{$pseudo}) & {
      @content;
    }
  }
}


// Reverse-logic för att använda feature detection utan att vara beroende av js i moderna webbläsare
@mixin if($classname) {
  @at-root {
    html:not(.no-#{$classname}) { @content; }
  }
}


// Selector för h1-6 #lazy
@mixin headings($max: 6, $min: 1) {
  $id: unique-id();

  %#{$id} { @content; }

  @if $max <= 6 and $min >= 1 {
    @for $i from $min through $max {
      h#{$i} {
        @extend %#{$id};
      }
    }
  }

  @else {
    @for $i from 1 through 6 {
      h#{$i} {
        @extend %#{$id};
      }
    }
  }
}

// Traditionell clockwise TRBL-inheritance. Uteslut värden med "null".
@mixin position($position, $top: null, $right: $top, $bottom: $top, $left: $right) {
  position: $position;
  @if $top    != null or n { top:    $top;    }
  @if $right  != null or n { right:  $right;  }
  @if $bottom != null or n { bottom: $bottom; }
  @if $left   != null or n { left:   $left;   }
}


@mixin border($properties, $sides: null) {
  @each $side in $sides {
    @if      $side == null   { border:        $properties; }
    @else if $side == top    { border-top:    $properties; }
    @else if $side == right  { border-right:  $properties; }
    @else if $side == bottom { border-bottom: $properties; }
    @else if $side == left   { border-left:   $properties; }
  }
}


@mixin placeholder-styling {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; } // lte Firefox 18
  &::-moz-placeholder          { @content; } // gte Firefox 19
}
