// =========
//  EXTENDS
// =========

// Core stuff
%clearfix {
  zoom: 1;

  &:before,
  &:after { content: ""; display: table; }
  &:after { clear: both; }
}

%box-sizing { box-sizing: border-box; }

%transition { transition: trans("duration") trans("easing"); }

%icon-font {
  font: normal 1em/1 icon("family");
  speak: none;
}

%basic-pseudo {
  content: "";
  display: block;
  pointer-events: none;
}

%user-select-none { @include user-select(none); }

%overflow-scrolling {
  @include overflow-scrolling;
}


// Animations
%animated {
  @include animation-(duration, 1s);
  @include fill-mode(both);
}

%infinite {
  @include iterations(infinite)
}


// Positioning
%cover-all       {  @include position(absolute, 0); }
%cover-all-fixed {  @include position(fixed, 0);    }

%vertical-center {  top: 50%;
                    bottom: auto;
                    @include transform(translateY(-50%)); }

%absolute-middle {  top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%)); }


// Theme extends

%clean-link {
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: none;
    color: site(color);
  }
}

%anchor-border {
  color: site(color);
  border-bottom: 1px solid transparent;
  line-height: 1.4;

  &:focus,
  &:hover {
    border-bottom-color: site(color);
  }
}

%anchor-icons {
  &:before {
    @extend %icon-font;
    line-height: gr(1);
    margin-right: icon(push);
  }

  &[href^="mailto:"]:before      { content: icon(email); vertical-align: -10%; }
  &[href^="tel:"]:before         { content: icon(phone); }
  &[href*="linkedin.com"]:before { content: icon(linkedin); }
}

@mixin fill-screen {
  width: calc(100% + #{(site("outer-padding") * 2.05)}); // lite lite extra, blir avrundningsfel annars
  left: -#{site("outer-padding")};
}

%first-last {
  &:first-child { margin-top:    0; padding-top:   0; }
  &:last-child  { margin-bottom: 0; margin-bottom: 0; }
}
