// ========
//  RESETS
// ========

// standard för vertikala marginaler för t.ex. innehållselement:
%default-margins {
  margin:      site("default-margins") 0;
  line-height: 1.45;

  &:first-child { margin-top:    0; }
  &:last-child  { margin-bottom: 0; }
}


// reset för listor:
%list-reset {
  margin:      0;
  line-height: 1;
  list-style:  none;
}


// grundreset för inputs:
%reset-input {
  border:     none;
  outline:    none;
  background: none;
  box-shadow: none !important; // !important för att skriva över ios
  
  border-radius: 0;
  padding:       0;
  line-height:   1;
}


// ta bort defaults på selects/checkboxes etc:
%reset-appearance {
  @include appearance(none);
}