// ===========
//  VARIABLES
// ===========

// sizes:
$site: (
  "font-size":        13px,

  "width":            85em,
  "height":           720px,
  "gutter":           0.05,
  "default-margins":  1em,
  "outer-padding":    2.618em,

  "color":            #0050a0,
  "text-color":       #333,
  "bg-color":         #fff,
  "border-effect":    3px,

  "br":               5px,
  "box-shadow":       0 0 6px rgba(#000, .33)
); @function site($value) { @return map-get($site, $value); }


$size: (
  "header-bar":       50px,
  "nav-padding":      .75em,
  
  "aside":            18em,
  "header-image":     400px,
  "mobile-menu":      17em,
  "highlight-border": 4px
); @function size($value) { @return map-get($size, $value); }


$cityscape: (
  "width":  800px,
  "height": 180px,
  "border": 120px,
  "color":  #e8e8e9,
  "url":    url(/assets/img/gfx/cityscape2.png)
); @function cityscape($value) { @return map-get($cityscape, $value); }


// font variables:
$body-font: (
  "family":   "Lato",
  "thin":     300,
  "regular":  400,
  "bold":     700,
  "fallback": sans-serif
); @function body($value) { @return map-get($body-font, $value); }


$header-font: (
  "family":   "Roboto",
  "thin":     300,
  "regular":  400,
  "bold":     700,
  "fallback": sans-serif
); @function header($value) { @return map-get($header-font, $value); }




// color variables:
$saturation:      5%;
$ui-color:        site(color);

$gray: (
  "gray":      #ddd,
  "dark":      #aaa,
  "light":     #e8e8e9,
  "cold":      #222225,
); @function gray($value) { @return map-get($gray, $value); }


$border: (
  "width": 1px,
  "thick": 5px,
  "style": solid,
  "color": darken(cityscape("color"), $saturation),
  "light": #eee,
  "dark":  #999
); @function border($value) { @return map-get($border, $value); }


// z-index:
$z-index: (
  "high": 900,
  "mid":  500,
  "low":  100
); @function z($value) { @return map-get($z-index, $value); }


// icons:
$icons: (
  "family":    "icomoon",
  "push":      .4em,

  "phone":     "\e600",
  "email":     "\e601",
  "location":  "\e602",
  "search":    "\e603",
  "cross":     "\e117",
  "menu":      "\e120",
  "submenu":   "\e605",
  "linkedin":  "\e607",
  "picture":   "\e606",
  "newspaper": "\e604"

); @function icon($value) { @return map-get($icons, $value); }


// transitions:
$transition: (
  "duration":   .3s,
  "easing":     ease,
  "sticky":     cubic-bezier(.6, .06,  .3,  1),
  "swift-out":  cubic-bezier(.55, 0,   .1,  1),
  "swift-out2": cubic-bezier(.55, 0,   .1,  1.3),
  "swift-in":   cubic-bezier(.1,  1,   .55, 1),
  "swift-in2":  cubic-bezier(.1,  1.3, .55, 1)
); @function trans($value) { @return map-get($transition, $value); }


// etc:
$delay-child: null !default;


// setup normalize: (true/false)
$media-elements: false;
$development:    false;
$svg:            false;
$reset-inputs:   true;
$reset-search:   true;