// =========
//  BUTTONS
// =========

%button {
  @extend %transition;
  @extend %reset-input;
  display: block;

  &:active {
    transition: none;
  }
}

.button {
  @extend %button;
  padding: 1em;

  border-radius: site("br");
  font-weight: body("bold");
  color: #fff;
  cursor: pointer;
  user-select: none;

  background: site("color");
  border: 1px solid rgba(#000, .1);

  // &:focus,
  &:hover  { background: lighten(site("color"), $saturation); }
  &:active { background:  darken(site("color"), $saturation); }

  @at-root {
    .action-add {
      .ng-valid & {
        background: color($green, 400);

        // &:focus,
        &:hover  { background: color($green, 300); }
        &:active { background: color($green, 600); }
      }
    }

    .action-cancel,
    .action-remove {
      background: color($grey);

      // &:focus,
      &.confirmation-required,
      &:hover  { background: color($red); }
      &:active { background: color($red, 800); }
    }
  }

  &[disabled] {
    background: color($grey);
    cursor: not-allowed;

    &:hover,
    &:active {
      background: color($grey, 600);
    }
  }

  &:before {
    @extend %icon-font;
    @extend %transition;
    margin-right: gr(-2);
  }

  &.icon-only:before { margin-right: 0; }

  &.action-add:before    { content: icon("publish"); }
  &.action-remove:before { content: icon("trash"); }

  &__bar {
    margin-bottom: 1em;
    @include position(absolute, null, 0, 100%, null);

    @include mq(tiny, max-width) {
      right: gr(-1);
    }

    .slim {
      display: inline-block;
      background: color($grey, 500);
      color: #fff;
      margin: 0;
      padding: gr(-1);
    }

    .add-new {
      background: color($green, 400);
      padding-right: 1em;

      &::before {
        display: inline-block;
        content: icon('plus');
        vertical-align: top;
      }

      &:hover {
        background: color($green, 300);
      }

      &:active {
        background: color($green, 500);
      }
    }
  }
}

.slide-remove {
  @include position(absolute, 0, 0, null, null);
  background: none;
  border: 0;
  outline: 0;

  .input__group:not(:hover) & {
    opacity: 0;
  }

  &:before {
    @extend %icon-font;
    content: icon('cross-large');
    display: block;
    font-size: gr(1);
  }
}

.text-button {
  @extend %button;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: color($grey, 600);
  }
}
