// ===================
//  CHARACTER COUNTER
// ===================

$block: character-counter;

.#{$block} {
  @extend %transition;
  @include position(absolute, null, 0, 0, null);
  pointer-events: none;
  font-size: .85em;
  padding: gr(-1);
  color: color($grey);

  &[data-character-soft-limit]:after {
    content: "/" attr(data-character-soft-limit);
  }

  &.full {
    color: color($red);
    opacity: 1 !important;
  }

  &--display {
    padding-right: 55px !important;

    &:not(:focus) {
      + .#{$block} {
        opacity: 0;
      }
    }
  }
}