// ============
//  CHECKBOXES
// ============


%checkbox {
  padding-left: 1.4em;
  display: block;
  border: 0;
  background: transparent;
  outline: 0;
  color: color($grey, 600);

  &:before {
    @extend %transition;
    @extend %basic-pseudo;
    width:  1em;
    height: 1em;

    background: color($grey, 50);
    border: 1px solid color($grey, 400);
    border-radius: site("br");
    box-shadow: inset 0 0 0 1px #fff,
                0 0 0 0 rgba(site("color"), 0);

    @include position(absolute, 0, null, null, 0);
  }

  &:active {
    &:before {
      transition-duration: transition("short") !important;
      box-shadow: inset 0 0 0 1px #fff,
                  0 0 0 1em rgba(site("color"), .15) !important;
    }
  }
}

%checkbox--checked {
  color: site("text-color");

  &:before {
    transition-duration: transition("duration");
    background:   color($grey, 800);
    border-color: color($grey, 800);
    box-shadow: inset 0 0 0 1px #fff,
                0 0 0 2em rgba(site("color"), 0);
  }
}


input[type="checkbox"] {
  @extend %offscreen-input;

  + label {
    @extend %checkbox;
  }

  &:checked + label {
    @extend %checkbox--checked;
  }
}

.checkbox {
  @extend %checkbox;

  &:before {
    top: .1em;
  }

  &.checked {
    @extend %checkbox--checked;
  }
}
