// ======
//  DATE
// ======

input[type="datetime-local"],
input[type="date"] {
  @extend %text-input;
  background: color($grey, 50);
  width: auto;
  padding: 0 gr(-2);
  margin-left: gr(-2);
  font-size: 1em;
}
