// =============
//  FILE INPUTS
// =============

input[type="file"] {
 @extend %offscreen-input;

  + label {
    display: inline-block;
    cursor: pointer;
    margin-top: 0;

    &:before { content: icon("picture"); }
  }

  &:focus + label {
    background: lighten(site("color"), $saturation);
  }
}

.flow-image {
  display: block;

  max-height: 200px;
  max-width:  300px;
  width:      auto;
  height:     auto;

  pointer-events: none;
  border: 1px solid site("text-color");
  border-radius: site("br");

  &__description {
    margin: -.55em 0 0 gr(1);
    font-size: inherit !important;
  }
}

.flow {
  &__wrap {
    margin: gr(1) 0;
    padding-bottom: gr(1);
    border-bottom:  1px solid color($grey, 200);
    justify-content: flex-start;
    align-items: center;
  }
  
  &__info {
    @extend %list-reset;
    margin-left: gr(1);
    flex-grow: 1;

    li {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

}