// =======
//  FORMS
// =======

form {
  @extend %transition;

  &:not(:first-child) {
    margin-top: gr(1);
  }

  @include mq(tiny, max-width) {
    position: static;
  }

  h3 {
    font-size: 1em;
    font-weight: header("bold");

    @include mq(large, max-width) {
      margin-bottom: gr(-1);
    }
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.limit-width {
  display: inline-block;
}


.input-group {
  display: block !important; // skriv över flex i input-groups

  &__row {
    @extend %transition;

    &:not(:first-child) {
      margin-top: gr(-1);
    }

    &.ng-hide {
      opacity: 0;
    }

    &.ng-hide-add,
    &.ng-leave {
      transition: none;
    }
  }
}
