// ========
//  SELECT
// ========

/*
   [1] Ta bort native styling för elementet.

   [2] Ge elementet samma stilregler som övriga textinputs.

   [3] Gör utrymme för pil-ikon, behövs eftersom ikonon måste vara positionerad
       absolut för att lägga sig verticalt centrerad i alla webbläsare.
       Höger-padding förbättrar även [4] i vissa lägen.

   [4] -moz-appearance: none; tar av någon oförklarlig anledning inte bort
       pilen, så vi döljer den med text-indent och en tom text-overflow.
       Firefox på Android behöver enligt uppgift minst 5px text-indent, men det
       är otestat, och projektet lär ändå inte användas i den webbläsaren.

   [5] Bakgrund till pilen. Ligger som annat pseudo-element för enklare
       positionering av pilen.

   [6] I Fx 30+ fungerar inte [4]. Detta fullöser problemet genom att lägga vår
       CSS-pil över native-pilen.
 */

select {
  @extend %reset-appearance; /* [1] */
  @extend %reset-input;
  @extend %text-input; /* [2] */
  cursor: pointer;

  padding-right: 2em;  /* [3] */
  text-indent: 0.01px; /* [4] */
  text-overflow: '';   /* [4] */

  .create-page--footer & {
    background: color($grey, 50);
    width: auto;
  }
}

.label-for__select {
  display: inline-block;
  cursor: pointer;

  &:before {
    @extend %icon-font;
    content: icon("arrow-down");
    z-index: 2;
    pointer-events: none;
    padding: 0 gr(-2);

    margin-top: -.45em;
    @include position(absolute, 50%, 0, null, null);
  }

  &:after { /* [5] */
    @extend %transition;
    @extend %basic-pseudo;
    z-index: 1; /* [6] */
    width: gr(1);
    background: color($grey, 200);
    border-left: 1px solid #fff;

    @include position(absolute, 2px, 2px, 1px, null);
  }

  &:hover:not(:focus) {
    &:after {
      background: color($grey, 50);
    }
  }
}