// =============
//  TEXT INPUTS
// =============

%text-input {
  @extend %reset-input;
  @extend %reset-appearance;

  transition: background transition("duration") transition("easing");
  width: 100%;
  padding:    input("padding");
  background: color($grey, 200);
  border:     1px solid color($grey, 300);
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: site("br");

  html.touch & {
    font-size: input("size");
  }

  &:focus {
    background: #fff;
    border-color: color($grey, 300)
  }

  &[name="header"] {
    font-weight: body("thin");

                         font-size: gr(1);
    @include mq(small) { font-size: gr(2); }
  }

  @include placeholder-styling {
    position: relative;
    top: .1em;

    html.touch & {
      font-size: .8em;
      top: .25em;
    }
  }
}

%textarea {
  padding: gr(-1, rem) .75rem;
  line-height: gr(1, null);
}


textarea,
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="datetime-local"]):not([type="date"]) {
  @extend %text-input;
  padding-right: gr(1);
}

textarea {
  @extend %textarea;
}

.input {
  &__group {
    & + & {
      padding-top: gr(2);
      margin-top:  gr(2);
      border-top:  1px solid border("light");
    }

    > li {
      border-top:  0 !important;
      padding-top: 0 !important;
    }
  }
}
