// ======
//  URLS
// ======

#url--wrap {
  input {
    @extend %reset-input;
    @extend %text-input;
    font-size: inherit;
    width: auto;
    
    flex-grow: 1;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.url--title {
  font-weight: header("bold");
  margin-right: gr(-1);
  top: -1px;
}

.url--bar {
  display: flex;
  flex-grow: 1;

  border: 1px solid border("light");
  box-shadow: inset 0 0 0 1px #fff;
  padding: 1px;

  border-radius: site("br");
}

.url--parent {
  background: color($grey, 300);
  background: linear-gradient(to bottom, color($grey, 200), color($grey, 300));
  line-height: 1.25;
  box-shadow: inset 0 0 1px color($grey, 300);

  cursor: pointer;
  user-select: none;

  padding: gr(-2);
  border-right: 1px solid #fff;
}

#url--slug {
  &:not(:focus) { cursor: pointer; }
  &:focus       { background: #fff; }
}