// ==============
//  ADD EMPLOYEE
// ==============

.add-employee {
  @extend %transition;
  @extend %cover-all;

  background: color($grey, 200);
  cursor: pointer;

  &:hover {
    background: color($grey, 100);
    color: site("color");
  }

  &:active {
    @extend %short-transition;
    background:   site("color");
    border-color: darken(site("color"), $saturation);

    &:before {
      @extend %short-transition;
      color: #fff;
    }
  }

  &:before {
    @extend %icon-font;
    content: icon("plus");

    font-size: gr(3);
    text-align: center;

    margin-top: -.5em;
    @include position(absolute, 50%, 0, null);
  }
}

.employee-settings {
  @extend %transition;
  @include position(absolute, 5px, 5px, null, null);

  display: block;
  color: #fff;
  vertical-align: top;
  text-transform: uppercase;
  font-size: .85em;
  padding: gr(-2) gr(-1);
  cursor: pointer;
  border-radius: site("br");
  background: rgba(#000, gr(-2, null));

  &:hover,
  &:focus {
    color: #fff;
    background: rgba(#000, gr(-1, null));
  }

  &:after {
    @extend %icon-font;
    content: icon("cog");
    margin-left: gr(-3);
    font-size: gr(1);
    line-height: 0;
    top: -.1em;

    vertical-align: middle;
  }

  .photo-holder:not(:hover) & {
    opacity: 0;
  }
}