// ===========
//  DASHBOARD
// ===========

@mixin dashboard-float {
  &__column {
    float: left;
    width: calc(50% - #{gr(1, em, 2)});

    &:last-child { float: right; }
  }
}

$parent: dashboard;

.#{$parent} {
  @include mq(large)                               { @include dashboard-float; }
  @include mq(small, min-width, medium, max-width) { @include dashboard-float; }

  @include mq(tiny, max-width) {
    padding: 0 1em;
  }

  &__column {
    margin-bottom: gr(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__box {
    &:not(:first-child) {
      margin-top: gr(1);
    }

    > .skin + .skin {
      border-top-left-radius: 0;
    }
  }

  &__label {
    display: inline-block;

    font-size: .85em;
    font-weight: header("bold");
    text-transform: uppercase;

    padding: .8em;
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
  }

  &__header {
    &--image-holder {
      overflow: hidden;
      max-height: 10em;
      align-items: center;
      background: site("color");
    }

    &--image {
      width: 100%;
    }

    &--title-holder {
      transform: translateY(-50%);
      text-align: center;
      margin-bottom: -#{gr(1)};
    }

    &--title {
      display: inline-block;
      margin: 0 gr(1);
      padding: gr(-3);

      background: #fff;
      border-radius: site("br");
      box-shadow: 0 1px 3px rgba(#000, gr(-2, null));

      font-size: 1.4em;
      text-transform: uppercase;
    }
  }

  &__reference {
    ul {
      @extend %list-reset;
    }

    li {
      line-height: site("line-height");
      font-size: .9em;
    }
  }

  &__employee {
    &--holder {
      align-items: center;
      justify-content: flex-start;

      margin-top: 1em;
      padding: 0;
      overflow: hidden; // för border radius vid bilden
    }

    &--information {
      flex-grow: 1;

      ul {
        @extend %list-reset;
      }

      li {
        line-height: site("line-height");
        font-size: .9em;
      }
    }

    &--image {
      margin-right: 1em;
      max-height:   70px;
      flex-shrink:  0;
    }
  }
}

.edit-object {
  @extend %transition;
  @include position(absolute, 0, 0, null, null);
  display: block;
  opacity: 0;
  padding: gr(-1);
  background: rgba(#000, gr(-2, null));
  border-radius: 0 site("br") 0 site("br");
  z-index: 1;

  &:hover {
    background: rgba(#000, gr(-1, null));
  }

  &:active {
    background: rgba(#000, 1);
  }

  &__area:hover .edit-object {
    opacity: 1;
  }

  &:before {
    @extend %transition;
    @extend %icon-font;
    content: icon("cog");

    font-size: 1.3em;
    color: #fff
  }
}



.counter-box__wrap {
  flex-wrap: wrap;
}

.counter-box {
  @extend %transition;

  display: block;
  padding: 1em 0 gr(1);
  margin-right: -1px; // kompensera för border, ta bort på sista barnet för att inte fucka flexbox

  flex-grow:  1;
  text-align: center;
  border:     1px solid #fff;
  background: color($grey, 100);
  box-shadow: inset 0 0 0 1px rgba(#fff, .15);

  @include mq(tiny, max-width) {
    font-size: .8em;
  }

  p, span { cursor: pointer; }

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background:   site("color");
    border-color: darken(site("color"), $saturation);

    + .counter-box {
      border-left-color: darken(site("color"), $saturation);
    }
  }

  &:active {
    background: darken(site("color"), $saturation);
  }

  &:first-child { border-radius: 0 0 0 site("br"); }
  &:last-child  { border-radius: 0 site("br") site("br") 0; margin-right: 0; }


  .counter {
    display: block;
    margin-bottom: 1rem;
    font-size: gr(1);

    @include mq(small) {
      font-size: gr(2);
      font-weight: body("thin");
    }
  }

  p {
    margin: 0;
    line-height: 1;
    font-weight: body("bold");
  }
}
