// ==============
//  EXPLAINATION
// ==============

.explaination-wrap {
  @extend %transition;
  margin-left: .5em;
  cursor: help;
  @include position(absolute, 0, null, null, 100%);

  &:before {
    @extend %icon-font;
    content: icon("help");
  }

  &:not(:hover) {
    opacity: .33;
  }
}

.explaination {
  @extend %transition;
  @include position(absolute, 0, null, null, 100%);
  z-index: 1;
  margin: -1em 0 0 1.4em;

  color: #fff;
  background: color($cold-grey);
  border-radius: site("br");
  padding: .8em 1em;
  line-height: 1.4;

                       width: 15em;
  @include mq(small) { width: 25em; }

  &:before {
    @extend %icon-font;
    content: icon("arrow-left");
    color: color($cold-grey);
  
    font-size: 2em;
    margin-right: -.33em;
    @include position(absolute, .25em, 100%, null, null);
  }

  .explaination-wrap:not(:hover) & {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-#{gr(-1)});
  }

  .explaination-wrap:hover & {
    transition-delay: .3s;
  }
}