// ===============
//  NOTIFICATIONS
// ===============

$parent: "notification";

.#{$parent} {
  // @extend %transition;
  max-width: 25em;
  display: flex;

  border-radius: site("br");
  overflow: hidden;
  box-shadow: 0 0 1em rgba(#000, gr(-1, null));

  &__body {
    display: flex;
    color: inherit !important; // eftersom __body kan vara en <a>

    * { cursor: pointer; }
  }

  &.ng-enter { animation: fadeInTop   gr(-2, s) transition("swift-in2"); }
  &.ng-leave { animation: fadeOutGrow gr(-2, s) transition("elastic2"); opacity: 0; }

  & + & { margin-top: gr(-1); }

  &__message {
    flex-grow: 1;
    background: #fbfbfb;
    border:  1px solid #fff;
    padding: 1em;
    border-radius: 0 site("br") site("br") 0;

    p + p {
      margin: 1em 0;

      &:first-child { margin-top: 0; }
      &:last-child  { margin-bottom: 0; }
    }
  }

  &__wrap {
    @include position(fixed, 0, 0, null, null);
    z-index: z("low");

    margin: gr(-1) gr(-1) 0 0;
    padding-top: site("top-bar");

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__icon {
    min-width: gr(2);
    padding: 1em;

    color: #fff;
    background: color($cold-grey);

    box-shadow: inset 0 0 1px rgba(#000, .2);
    border-radius: site("br") 0 0 site("br");

    &:before {
      @extend %icon-font;
      @include position(absolute, 50%, 0, null);
      content: icon("info2");
      margin-top: -.5em;
      font-size: gr(1);
      text-align: center;
    }

    // INFO specific styles:
    .#{$parent}--info & {
      background: site("color");

      &:before { content: icon("info2"); }
    }

    // SUCCESS specific styles:
    .#{$parent}--success & {
      background: color($green, 400);

      &:before { content: icon("checkmark"); }
    }

    // ERROR specific styles:
    .#{$parent}--error & {
      background: color($red);

      &:before { content: icon("warning"); } // eftersom "ban"-ikonen kommer från ett annat paket så ligger den fel
    }

    // WARNING specific styles:
    .#{$parent}--warning & {
      background: color($yellow, 700);

      &:before { content: icon("warning"); }
    }
  }

  &__close {
    @extend %reset-input;
    @extend %transition;
    @include position(absolute, 0, 0, null, null);

    opacity: 0;
    padding: .25em;
    text-align: right;

    .#{$parent}:hover & {
      opacity: 1;
    }

    &:hover:before {
      background: color($red);
      color: #fff;
    }

    &:active:before {
      background: color($red, 900);
      transition: none;
    }

    &:before {
      @extend %transition;
      @extend %icon-font;
      content: icon("cross");
      border-radius: site("br");
    }
  }
}
