// ===========
//  PAGE-LIST
// ===========

$page-list-padding: gr(1, rem);
$table-border: 1px solid transparent;
$table-hover-color: lighten(site("color"), 65%);
$table-hover-dark: darken($table-hover-color, 5%);

%table-to-block--mobile {
  @include mq(large, max-width) {
    display: block;
  }
}

%table-hover-anchor { color: site("color"); }

.page-list {
  @extend %table-to-block--mobile;
  width: 100%;

  @include mq(large, max-width) { padding-top: gr(1); }

  .confirmation-dialog__wrap {
    display: inline-block;
  }

  .confirmation-dialog--right {
    right: -1em;
  }

  th,
  td {
    padding: $page-list-padding 1em;
    white-space: nowrap;

    @include mq(large) {
      &:first-child {
        width: 100%;
      }
    }
  }

  th {
    @extend %transition;
    @extend %user-select-none;
    font-weight: body("bold");
    color: lighten(site("text-color"), 25%);
    overflow: hidden;

    &[ng-click] {
      padding-right: gr(2, rem);

      &,
      > div {
        cursor: context-menu;
      }

      &:hover,
      &.sort-asc,
      &.sort-desc {
        color: site("text-color");
      }
    }

    &:after {
      @extend %icon-font;
      margin-top: -.5em;
      font-size: 1.5em;
      @include position(absolute, 50%, 1rem, null, null);
    }

    &.sort-asc:after  { content: icon("arrow-up");   }
    &.sort-desc:after { content: icon("arrow-down"); }
  }

  thead {
    @extend %table-to-block--mobile;

    @include mq(large, max-width) {
      &:before {
        display: block;
        content: "Sortera efter:";
        text-transform: uppercase;
        font-weight: body("bold");
        margin-left: 1em;
      }
    }

    @include mq(small, max-width) {
      tr {
        border: 1px solid border("light");
        padding: gr(-2);
        margin: gr(1) 0;
        border-radius: site("br");
      }

      th {
        display: block;
        padding: gr(-1);
      }
    }
  }

  tr {
    @extend %table-to-block--mobile;
  }

  tbody {
    @extend %table-to-block--mobile;

    tr {
      @extend %transition;
      @include border(1px solid border("light"), top bottom);

      &.ng-leave {
        transition: 0;
      }

      &:nth-child(even) {
        background: #f9f9f9;
      }

      &:hover {
        background: $table-hover-color;

        a { @extend %table-hover-anchor; }

        @include mq(large) {
          td:first-child {
            color: site("color");
            box-shadow: inset .5em 0 0 site("color");
          }
        }
      }

      @include mq(large, max-width) {
        padding: 1em gr(-1) 1em 1.5em;

        // fixa dekorationer..
        margin-top: -1px;
        border-left: 0;
        box-shadow: inset .5em 0 0 transparent;

        &:hover {
          box-shadow: inset .5em 0 0 site("color");
        }
      }
    }

    td {
      @extend %transition;

      // :first-child innehåller länk till sida och ska därför fylla allt tillgängligt utrymme och inte ha vertikala paddings. kan vi identifera <td>s som innehåller <a> och ge dem en klass istället?
      &:first-child {
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: inset .5em 0 0 transparent;

        @include mq(large) {
          padding-left: 1.5em; // + .5em, kompensera för box-shadow. Använder inte border pga att trs bakgrund blir för kort

          &:before {
            font: normal 1em/1 #{icon("family")};
            speak: none;
            content: icon("file-text2");
            margin-right: gr(-1);
            line-height: 0;
            display: block;
            @include position(absolute, 2.15em, null, null, 1.5em);
          }

          &.nyhet::before {
            content: icon("news");
          }

          &.sida::before {
            content: icon("copy");
          }

          &.projekt::before {
            content: icon("file-empty");
          }

          &.personal::before {
            content: icon("users");
          }
        }
      }

      @include mq(large, max-width) {
        display: block;
        padding: gr(-1) .33em;

        &:first-child {
          &:before {
            vertical-align: top;
            margin-top: gr(-1);
          }
        }

        &:before {
          content: attr(data-header) ":"; // kan inte använda samma attribut som Angular gör för Angular kräver wrappad sträng
          font-weight: body("bold");
          display: inline-block;
          min-width: 4em;
          top: -1px;
          margin-right: 1em;
        }

        &[data-title="'Ändrades'"],
        &[data-title="'Skapades'"] {
          display: none;
        }
      }

      > .button,
      > div > .button {
        padding: 0;
      }
    }
  }

  a,
  span {
    display: block;
    padding: $page-list-padding 0 $page-list-padding $page-list-padding;
    font-weight: body("bold");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    @include mq(large) {
      max-width: 30em;
    }

    @include mq(large, max-width) {
      padding: gr(-1) gr(3) gr(-1) 0;
    }

    &:hover { @extend %table-hover-anchor; }
  }

  &--empty {
    text-align: center;

    .button {
      display: inline-block;

      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }
}

.filter-list {
  margin-top: 1em;

  input {
    background: #fff;
    font-size: gr(1);
    padding: gr(-1) !important;
    text-align: center;
    border: 0 !important;
    border-bottom: 1px solid color($grey, 200) !important;
    border-bottom-left-radius:  0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
