// ===========
//  PORTRAITS
// ===========

.personnel-list {
  @extend %list-reset;

  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{site("flex-gutter")};

  // grid view:
  &.display-grid {
    flex-direction: row;

    .person {
      text-align: center;
      padding: site("flex-gutter");

                            width: 33.33%;
      @include mq(small)  { width: 25%; padding: site("flex-gutter"); }
      @include mq(large)  { width: 20%; }
    }

    .person-info-box {
      font-size: .75em;

      @include mq(large) { font-size: .9em; }
    }
  }

  // list view:
  &.display-list {
    flex-direction: column;

    .person {
      display: flex;

      padding: gr(-1) 1em;
      border-bottom: 1px solid border("light");
      line-height: 1.3;

      h3 {
        line-height: 1.3;
      }

      &:hover {
        background: $table-hover-color;
        color: site("color");
      }
    }

    .list-row-item {
      margin: 0;
    }

    .photo-holder {
      margin: .3em 1em 0 0;

      img {
        width: 32px;
      }
    }

    .person-info-box {
      flex-grow: 1;
      align-self: center;
      overflow: hidden;
    }

    .add-employee {
      &:before {
        font-size: gr(2);
      }
    }
  }
}

.person {
  line-height: site("line-height");

  h3 {
    font: body("bold") 1em/#{site("line-height")} body("family"), body("fallback");
    margin: gr(1) 0 0;
  }

  .photo {
    width: 100%;
    border: 1px solid border("dark");
  }

  .photo-holder {
    display: block;
    overflow: hidden;
  }
}
