// =========
//  SITEMAP
// =========

.sitemap {
  $icon-push: .5em;

  @extend %list-reset;
  margin-top: site("default-margins");
  padding-left: 2em;

  ul {
    @extend %list-reset;
    padding-left: 1em + $icon-push;

    transition: gr(-1, s);
    opacity: 1;

    &.ng-hide        { opacity: 0; transform: translateX(-#{gr(1)}); }
    &.ng-hide-add    { display: none;  }
    &.ng-hide-remove { display: block; }
  }

  a {
    display: inline-block;
    padding: gr(-1) 0;

    &:before {
      @extend %transition;
      @extend %icon-font;
      content: icon("text");
      
      margin-right: $icon-push;
      color:        color($grey);
      display:      inline-block;
      top: -1px;
    }

    &:hover {
      &:before {
        color: site("color");
      }
    }
  }
}

.toggle-children {
  $button-color:        color($grey, 300);
  $button-color--focus: color($grey);
  $box-shadow--width:   5px;

  @extend %transition;
  @extend %reset-input;
  font-size: .9em;

  border-radius: site("br");
  border:        1px solid $button-color;
  box-shadow:    inset 0 0 $box-shadow--width transparent;
  background:    linear-gradient(to bottom, lighten($button-color, 7.5%), $button-color);

  @include position(absolute, .5em, null, null, -2em);

  &.has-children {
    &:hover  { border-color: $button-color--focus; }
    &:active { box-shadow: inset 0 0 $box-shadow--width $button-color--focus; }

    .children-visible & {
      box-shadow:   inset 0 0 $box-shadow--width $button-color--focus;
      border-color: $button-color--focus;

      &:before { content: icon("minus"); }
    }

    &:before {
      @extend %icon-font;
      content: icon("plus");
    }
  }
}