// ======
//  TABS
// ======

.tab-wrap {
  display: inline-flex;
  align-items: center;

  + .skin {
    border-top-left-radius: 0;
    margin-top: 0;
  }
}

.tab {
  @extend %transition;
  @extend %reset-input;
  box-shadow: site("box-shadow");
  margin: 0 -1px -1px 0;

  background:       color($grey, 300);
  border: 1px solid color($grey, 200);

  &:nth-child(1)      { border-top-left-radius:  site("br"); }
  &:nth-last-child(2) { border-top-right-radius: site("br"); }

  &:hover,
  &:focus {
    background: color($grey, 200);
  }

  &:active {
    background:   color($grey);
    border-color: color($grey, 600);
    box-shadow:   inset 0 0 1em color($grey, 700);
    transition:   none;

    + .tab {
      &:not(:last-child) {
        transition: none;
        border-left-color: color($grey, 600);
      }
    }
  }

  &.current {
    z-index: 1;
    box-shadow: none;
    background: site("skin-color");
    border-color: transparent;
  }

  &.ng-leave { display: none; } // ta bort delay på removal

  &__text {
    display: block;
    cursor: pointer;
    padding: 1.1em 2em;

    font-size: .81em;
    font-weight: body("bold");
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(#fff, .25);
    user-select: none;

    .current & { cursor: default; }
  }

  &--remove {
    @extend %reset-input;
    @extend %transition;
    user-select: none;

    .confirmation-required &:before,
    &:hover:before {
      background: color($red);
      color: #fff;
      opacity: 1;
    }

    &:active:before {
      background: color($red, 900);
      transition: none;
    }

    &:before {
      @extend %transition;
      @extend %icon-font;
      content: icon("cross");
      font-size: 1.1em;
      cursor: pointer;
      opacity: 0;
      background: transparent;

      border-radius: site("br");
    }

    .tab:hover &:before { opacity: 1; }
  }

  .confirmation-dialog {
    margin-left: -1em;

    &__wrap {
      @include position(absolute, 2px, 2px, null, null);
    }

    .button { // får overflow i chrome när .button ligger i .tab? ingen aning what's up, men den BORDE behöva -1px..
      margin: 0;
    }
  }
}

.add-tab {
  margin-left: gr(-1);
  padding:     gr(-4) gr(-1);

  border-radius: site("br");
  box-shadow:    site("box-shadow"),
                 1px 1px 1px rgba(#000, .15);

  &:before {
    @extend %icon-font;
    content: icon("plus");
    font-size: 1.2em;
  }

  &.nothing-more-to-add {
    opacity: gr(-2, null);
    pointer-events: none;
  }
}
