// =============
//  TOGGLE VIEW
// =============

%view-button {
  border: 1px solid border("color");
  background: linear-gradient(to bottom, #fff, border("color"));
  padding: 0 gr(-3);
}

%view-button-current {
  color: #fff;
  z-index: 1;
  background: linear-gradient(to bottom, lighten(site("color"), $saturation), site("color"));
  border-color: darken(site("color"), $saturation);

  &:active { border-color: darken(site("color"), 10%); }
}

.toggle-view--wrapper {
  margin-bottom: gr(1);
  display: flex;

  button {
    @extend %reset-input;
    @extend %view-button;

    &:active {
      box-shadow: inset 0 0 gr(-1) rgba(#000, gr(-1, null));
      border-color: border("dark");
    }

    &:not(:first-child) { margin-left: -1px; }

    &:first-child { border-radius: site("br") 0 0 site("br"); }
    &:last-child  { border-radius: 0 site("br") site("br") 0; }

    @at-root {
      .display-grid .toggle-grid, // :'(
      .display-list .toggle-list {
        @extend %view-button-current;
      }
    }
  }

  button, label {
    &:before {
      @extend %icon-font;
      font-size: gr(1);
    }
  }

  label {
    @extend %view-button;
    display: block;
    border-radius: site("br") 0 0 site("br");

    &:before {
      top: .2em;
    }
  }

  > .flex-parent {
    &:not(:first-child) {
      margin-left: gr(1);
      flex-grow: 1;
    }
  }

  .search-field {
    margin-left: -1px;
    order: 2;
    border-radius: 0 site("br") site("br") 0 !important; // welp dat sux

    &:focus + label {
      @extend %view-button-current;
    }
  }

  .toggle-grid:before  { content: icon("grid");   }
  .toggle-list:before  { content: icon("list");   }
  .search-label:before { content: icon("search"); }
}