// ==========
//  TRASHCAN
// ==========

@mixin trash-link($color, $value) {
  background:                 color($color, $value);
  border:     1px solid       color($color, $value + 100);
  box-shadow: inset 0 0 0 1px color($color, $value - 100);
}

.trash-aside {
  &__wrap {
    margin-top: gr(1);
  }

  &__link {    
    $link-bg-c: $cold-grey;
    $link-bg:   600;

    display: block;
    padding: gr(1);
    color: color($grey, 400);

    @include trash-link($link-bg-c, $link-bg);

    &:focus,
    &:hover {
      color: inherit;

      @include trash-link($link-bg-c, $link-bg - 100);
    }

    &:active {
      @include trash-link($link-bg-c, $link-bg + 100);
    }
  }
}