// ****************
// ** ANIMATIONS **
// ****************

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name { @content; }
  @keyframes         $animation-name { @content; }
}

@mixin animation($properties) { // t.ex. (keyframe-namn 1s infinite linear)
  -webkit-animation: $properties;
          animation: $properties;
}

@mixin animation-($foo, $bar) {
  -webkit-animation-#{$foo}: $bar;
          animation-#{$foo}: $bar;
}

@mixin fill-mode($value) {
  -webkit-animation-fill-mode: $value;
          animation-fill-mode: $value;
}

@mixin iterations($value) {
  -webkit-animation-iteration-count: $value;
          animation-iteration-count: $value;
}