// ****************
// ** DEPRECATED **
// ****************

@mixin transition-linear($duration) {
  -webkit-transition: $duration linear;
     -moz-transition: $duration linear;
       -o-transition: $duration linear;
          transition: $duration linear;
}

@mixin col-1($amount) {
  @if $amount == 2 {
    width: percentage((1 - $gutter) / $amount);
  } @else {
    width: percentage((1 - $gutter * ($amount - 1)) / $amount);
  }
}

@mixin scale($factor) {
  -webkit-transform: scale($factor);
     -moz-transform: scale($factor);
      -ms-transform: scale($factor);
          transform: scale($factor);
}


@mixin filter-blur($blur) {
  -webkit-filter: blur($blur);
     -moz-filter: blur($blur);
      -ms-filter: blur($blur);
          filter: blur($blur);
}

@mixin cover-all-fixed($offset) {
  position: fixed;
  top:      $offset;
  right:    $offset;
  bottom:   $offset;
  left:     $offset;
}

@mixin opacity-1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

@mixin opacity-0 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
}

@mixin timing-function($foo) {
  -webkit-transition-timing-function: $foo;
     -moz-transition-timing-function: $foo;
          transition-timing-function: $foo;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}

@mixin cover-all($offset, $position: absolute) {
  position: $position;
  top:      $offset;
  right:    $offset;
  bottom:   $offset;
  left:     $offset;
}


// Sätt box-sizing
$cms: null !default;
@mixin bs($cms, $foo) {
  @if $cms == Concrete5 {
    -webkit-box-sizing: $foo;
       -moz-box-sizing: $foo;
            box-sizing: $foo;
  }

  @else {
    -webkit-box-sizing: $foo;
       -moz-box-sizing: $foo;
            box-sizing: $foo;
  }
}


// Ta bort konstigheter i Concrete5
@mixin concrete5-reset {
  @if $cms == Concrete5 {
    .unoslider_indicator a,
    .ui-dialog input,
    #ccm-page-controls-wrapper input,
    #ccm-dashboard-overlay,
    #ccm-nav-edit,
    #ccm-nav-dashboard,
    #ccm-nav-sign-out,
    #fancybox-wrap,
    #fancybox-outer,
    #fancybox-content { box-sizing: content-box; }
  
    #ccm-page-controls-wrapper {
      strong {
        color: #0088cc;
      }
    }
  
    .ccm-dialog-tabs {
      float: none !important;
    }
  
    #ccm-file-add-multiple-tab { // Lägger sig över uppladdningsknapp annars
      max-width: 350px;
    }
  
    .ccm-ui div.clearfix { // Seriöst?
      padding-bottom: 0 !important;
    }
  }
}