// ***************
// ** GRADIENTS **
// ***************

@mixin gradient($top, $bottom) {
  background: $top;
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
}

@mixin horizontal-gradient($left, $right) {
  background: $left;
  background: -moz-linear-gradient(left,  $left 0%, $right 100%);
  background: -webkit-linear-gradient(left,  $left 0%,$right 100%);
  background: linear-gradient(to right,  $left 0%,$right 100%);
}

@mixin radial-gradient($background, $front, $stretch) {
  background: $background;
  background: -moz-radial-gradient(center, ellipse cover,  $front 0%, $background $stretch);
  background: -webkit-radial-gradient(center, ellipse cover,  $front 0%,$background $stretch);
  background: radial-gradient(ellipse at center,  $front 0%,$background $stretch);
}

@mixin diagonal-gradient($tilt, $background, $front) {
  background: $background;
  background: -moz-linear-gradient($tilt,  $background 0%, $front 100%);
  background: -webkit-linear-gradient($tilt,  $background 0%,$front 100%);
  background: linear-gradient($tilt,  $background 0%,$front 100%);
}