// ========
//  DIALOG
// ========

$parent: confirmation-dialog;

.#{$parent} {
  $dialog-bc:       color($grey, 400);
  $dialog-bg:       color($grey, 50);
  $dialog-bg-light: #fff;

  @extend %transition;
  transition-timing-function: transition("swift-out2");

  // face
  width: 25em;
  max-width: 85vw;
  background: linear-gradient(to bottom, $dialog-bg-light, $dialog-bg);
  border: 1px solid $dialog-bc;
  box-shadow: 0 2px 6px rgba(#000, .2);
  text-align: left;

  color: site("text-color");
  border-radius: site("br");

  display: flex;
  justify-content: space-between;

  &.ng-hide {
    transform: scale(0) translateY(gr(2));
    opacity: 0;
  }

  &__wrap {
    display: block;
    align-self: flex-end;
    white-space: normal;
    outline: 0;

    > .button {
      margin: 0;

      .page-list & {
        border: 0;

        color: inherit;
        background: none;
      }
    }
  }

  .button {
    margin: -1px;
    flex-shrink: 0;

    &:before { display: none; }

    &.action-remove {
      background: color($red);

      &:hover  { background: color($red, 600); }
      &:active { background: color($red, 800); }
    }
  }

  &__text {
    padding: 1em;
    flex-grow: 1;

    p {
      margin: 0;
      line-height: 1.4;
    }
  }


  // positioning:
  position: absolute;

  &:before,
  &:after { // triangel. :before utgör kantlinjen
    @extend %basic-pseudo;
    position: absolute;
    border: solid 10px transparent;
  }

  &:before { border-width: 11px; }

  &--top {
    top: 100%;
    margin-top: gr(1);

    &:before,
    &:after  { bottom: 100%; }

    &:before { border-bottom-color: darken($dialog-bc, 10%); }
    &:after  { border-bottom-color: $dialog-bg-light; }

    &.#{$parent}--right { transform-origin: 90% -60%; }
    &.#{$parent}--left  { transform-origin: 10% -60%; }
  }

  &--bottom {
    bottom: 100%;
    margin-bottom: gr(1);

    &:before,
    &:after  { top: 100%; }

    &:before { border-top-color: darken($dialog-bc, 10%); }
    &:after  { border-top-color: $dialog-bg; }

    &.#{$parent}--right { transform-origin: 90% 120%; }
    &.#{$parent}--left  { transform-origin: 10% 120%; }
  }

  &--right {
    right: 0;

    &:before,
    &:after { right: gr(-1); }
    &:after { margin-right: 1px; }

    .button { border-radius: site("br") 0 0 site("br") }
  }

  &--left {
    left: 0;

    &:before,
    &:after { left: gr(-1); }
    &:after { margin-left: 1px; }

    .button { border-radius: 0 site("br") site("br") 0; order: 9; }
  }
}
