// ======
//  TAGS
// ======


// local variables:
// ----------------

  $block: tag;

  %pushButton {
    @include position(absolute, 0, 0, 0, null);
    background: color($green, 400);
    border: 0;
    outline: 0;
    width: 2em;

    &:before {
      @extend %icon-font;
      content: icon("plus");
      color: #fff;
      margin-top: -.5em;
      @include position(absolute, 50%, null, 0, .55em);
    }
  }

// ----------------


.#{$block} {
  &__list {
    @extend %list-reset;
  }

  &__item {
    float: left;
    padding: gr(-1);
    display: block;
    margin: 0 gr(-2) gr(-2) 0;
    border: 1px solid color($grey, 300);
    background: color($grey, 200);
    border-radius: site("br");

    @include mq(small, max-width) {
      font-size: .9em;
    }

    &.active {
      padding: 0;
      border-color: color($green, 400);
    }

    &--add {
      transition: background transition("duration");
      cursor: pointer;
      color: #fff;
      overflow: hidden;
      background: site("color");
      border: 1px solid site("color");

      &:hover {
        background: lighten(site("color"), 5%);
      }

      &:active {
        transition: none;
        background: darken(site("color"), 5%);
      }

      .cover-all {
        cursor: pointer;
      }
    }
  }

  &__create {
    @extend %pushButton;

    &::before {
      content: icon("plus");
    }
  }

  &__edit {
    @extend %pushButton;

    &::before {
      content: icon("publish");
    }
  }

  &__input {
    transition: none !important;
    color: site("text-color");
    width: auto !important;
    padding: .5em 2em .5em .5em !important;
    border: 0 !important;
    background: #fff !important;

    &.ng-hide {
      display: none !important;
    }
  }

  &-remove {
    &__wrap {
      outline: 0;
      @include position(absolute, -1px, -1px, -1px, null);
    }

    &__button {
      @extend %transition;
      border: 0;
      outline: 0;
      color: #fff;
      border-radius: 0 site("br") site("br") 0;
      background: color($grey, 400);
      @include position(absolute, 0, 0, 0, null);

      &:hover {
        background: color($red, 400);
      }

      &:before {
        @extend %icon-font;
        content: icon("cross");
      }

      .#{$block}__item:not(:hover) &:not(.confirmation-required) {
        opacity: 0;
      }

      &.confirmation-required {
        background: color($red, 400);
      }
    }
  }
}
