// =============
//  CREATE PAGE
// =============

.create-page--components {
  > ul {
    @extend %list-reset;

    > li {
      @include mq(large) {
        display: flex;
      }


      padding:    gr(1) 0;
      border-top: 1px solid border("light");

      &:first-child {
        padding-top: 0;
        border-top:  0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.input-header {
  @include mq(large) {
    display: flex;
    align-items: center;
    width: input("header-width");
    max-height: 5em;
    flex-shrink: 0;
    padding-right: gr(1);

    // fixa avstånd till kantlinjen för frågetecknen
    .limit-width {
      margin-right: 1em;
    }
  }

  @include mq(huge) {
    margin-right: gr(2);
  }
}

.input-field {
  flex-grow: 1;
}


/* ----------- */


.create-page {
  &__submit-bar {
    &:not(:first-child) {
      margin-top: gr(2);
    }
  }

  &--inputs {
    $animation-duration: .2s;

    &.ng-enter,
    &.ng-hide-remove { animation: fadeIn ($animation-duration * gr(2, null)) $animation-duration forwards; opacity: 0; }
    &.ng-hide-add    { animation: fadeOut $animation-duration; }

    &.ng-hide { @extend %cover-all; }
  }
}

.create-page--footer {
  @extend %block-padding;
  border-top: 1px solid border("color");
  background: color($grey, 200);
  border-radius: 0 0 site("br") site("br");
  box-shadow: inset 0 0 0 1px color($grey, 100);

  > ul {
    margin-bottom: gr(1);

    > li {
      border-color: color($grey, 300);

      &:first-child { padding-top:    0; }
      &:last-child  { padding-bottom: 0; }
    }
  }
}
