// ============
//  MOBILE NAV
// ============

%mobile-menu--push {
  @include mq(medium, max-width) {
    transform: translateX(site("aside-width"));
  }
}

.mobile-menu--push {
  display: flex;
  flex-grow: 1;
}

.mobile-menu--push,
.site-aside {
  @extend %transition;
  transition-timing-function: transition("swift-out");
  will-change: transform;

  .menu-open & { @extend %mobile-menu--push; }
}

$burger-height:  2px;
$burger-width:   18px;
$burger-spacing: 1;

.mobile-menu--toggle {
  @extend %hide-medium;
  border-right-color: color($cold-grey, 200);
}

.hamburger-icon {
  top: 1px;

  &, &:before, &:after {
    @extend %transition;
    display: block;

    width:         $burger-width;
    height:        $burger-height;
    border-radius: $burger-height;
    background: #fff;
    cursor: pointer;
  }

  &:before, &:after {
    content: "";
    will-change: transform, top;
  }

  // av någon anledning behöver :before flyttas sin egen höjd extra?
  &:before { top: -(($burger-height * gr($burger-spacing, null)) + ($burger-height)); }
  &:after  { top:    $burger-height * gr($burger-spacing, null); }

  .menu-open & {
    background: transparent;

    &:before, &:after { top: 0; }

    &:before { transform: rotate( 45deg); }
    &:after  { transform: rotate(-45deg) translateY(0); top: -$burger-height; }
  }
}