// =============
//  SITE FOOTER
// =============

.site-footer {
  text-align: center;
  padding-bottom: gr(2);
  color: rgba(site("text-color"), .75);

  img {
    margin-bottom: gr(-1);
    opacity: .5;

                         max-width: 60px;
    @include mq(small) { max-width: 80px; }
  }

  p { margin: 0; }

  a {
    &:hover,
    &:focus {
      color: color($grey, 900);
    }
  }
}

.site-footer__fade {
  @extend %transition;
  display: inline-block;
  font-size: gr(-1);

  @include mq(small) { font-size: .85em; }

  &:not(:hover) {
    opacity: .333;
  }
}