// ==========
//  MAIN NAV
// ==========

$anchor-bg: color($cold-grey, 800);
$quicklink-width: gr(3);

%anchor-focus {
  background: $anchor-bg;
  color: #fff;

  &[href="/logout"] { border-color: color($red); }
}

.site-nav {
  margin-top: gr(1);
  flex-shrink: 0;

  ul {
    @extend %list-reset;
    margin: gr(-1) 0 gr(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    display: block;
    overflow: hidden;

    html.no-touch &:hover a:not(.quicklink) {
      @extend %anchor-focus;
    }

    html.touch &:hover a,
    html.touch &:focus a {
      color: inherit;
    }
  }

  a {
    display: block;
    overflow: hidden;
    background: color($cold-grey);
    padding: 1em 2em 1em 1.5em;
    box-shadow: inset border("theme") 0 0 transparent;

    &:focus {
      color: #fff;
    }

    &.current {
      @extend %anchor-focus;
      box-shadow: inset border("theme") 0 0 site("color");
    }

    &:active {
      html.no-touch & {
        transition: none;
        background: color($cold-grey, 900);
      }
    }

    &.unsaved-changes {
      &:not(.current) {

        // dot indicator
        &:after {
          @extend %basic-pseudo;
          @extend %transition;
          @include position(absolute, 50%, 1em, null, null);

          border-radius: 50%;
          background: color($grey, 400);

          $dot-length: 6px;

          width:       $dot-length;
          height:      $dot-length;
          margin-top: -$dot-length / 2;
        }

        &:hover {
          &:after {
            background: #fff;
          }
        }
      }
    }
  }

  .quicklink {
    @include position(absolute, 0, null, 0, 0);
    width: $quicklink-width;

    color: site("text-color");
    background: #fff;

    &:hover {
      z-index: 2;

      ~ .has-quicklink {
        z-index: 3;
        transform: translateX($quicklink-width);
      }
    }

    &:focus {
      color: site("text-color");
    }

    &:active {
      color: #fff;
    }

  }

  .quicklink-trigger {
    @extend %transition;
    display: block;
    width: gr(1);
    z-index: 1;
    cursor: pointer;
    @include position(absolute, 0, null, 0, 0);

    &:hover {
      + .quicklink {
        z-index: 2;
      }

      ~ .has-quicklink {
        transition-timing-function: transition("swift-in");
        transform: translateX($quicklink-width);
        z-index: 3;
      }
    }
  }
}

[data-icon] {
  &:before {
    @extend %icon-font;
    float: left;
    margin-right: 1em;
  }
}

$data-icons: (
  "users":     icon("users"),
  "users-add": icon("users-add"),
  "create":    icon("pencil"),
  "list":      icon("text"),
  "home":      icon("house"),
  "dashboard": icon("statistics"),
  "trash":     icon("trash"),
  "slideshow": icon("image"),
  "pages":     icon("copy"),
  "news":      icon("news"),
  "projects":  icon("file-empty"),
  "plus":      icon("plus"),
  "cog":       icon("cog")
);

@each $data-type, $icon in $data-icons {
  [data-icon="#{$data-type}"]:before { content: $icon; }
}
