// =======
//  ASIDE
// =======

/*
  [1] Moduler i .site-aside positioneras med flexbox, för att t.ex.
      trycka ned en modul till botten av elementet.
  
  [2] Det är bekvämt att kunna dra upp innehållet i .site-aside lite
      längre upp på touchskärmar. :-)
 */

.site-aside {
  @extend %overflow-scrolling;
  @extend %cover-all-fixed;
  right: auto;
  width: site("aside-width");
  min-height: 100%;

  padding-top: site("top-bar");
  background:  color($cold-grey);
  color:       color($grey, 400);

  flex-direction: column; /* [1] */

  @include mq(medium, max-width) {
    right: 100%;
    left:  auto;
    border-top-width: site("mobile-menu");
    border-top-color: color($cold-grey, 300);
  }

  &__title {
    font-size: .9em;
    padding: 0 gr(1, rem);
    text-transform: uppercase;
    color: color($grey, 600);
    font-weight: header("bold");
  }

  .touch & { /* [2] */
    padding-bottom: 50%;
  }
}