// =========
//  TOP BAR
// =========

$parent: top-bar;

.#{$parent} {
  &__wrap {
    @include position(fixed, 0, 0, null);
    z-index: z("mid"); // behövs för att ligga över notifikationer

    color: #fff;
    background: color($cold-grey, 300);
    box-shadow: inset 0 0 0 1px color($cold-grey, 200);

    .flex-parent {
      align-items: center;
    }

    ul {
      @extend %list-reset;
    }

    @include mq(large, max-width) { // krymp hela baren
      font-size: .8em;
    }
  }

  &__portrait {
    flex-shrink: 0;
    border-radius: site("br");
    margin-left: gr(-1);
    overflow: hidden;
    // box-shadow: 0 0 1px rgba(#000, .8);

    $portrait-length: 30px;
    width:  $portrait-length * gr(-1, null);
    height: $portrait-length * gr(-1, null);

    @include mq(large) {
      width:  $portrait-length;
      height: $portrait-length;
    }

    img { width: 100%; }
  }

  &__name {
    font-size: 1em;
    font-weight: header("bold");
    text-shadow: 0 1px 0 color($cold-grey);
    padding: gr(-1);
    flex-grow: 1;
  }

  &__button {
    @extend %reset-input;
    @extend %button;
    display: block;
    text-align: center;
    align-self: stretch;
    flex-shrink: 0;
    margin-left: -1px;
    padding: 1em 1.2em;

    @include border(1px solid color($cold-grey, 200), left right bottom);

    &:before {
      @extend %icon-font;
      @extend %transition;
      font-size: 1.4em;
      top: 1px;
    }

    &:hover {
      background:   color($cold-grey, 200);
      border-color: color($cold-grey, 50);
      z-index: 1;

      &:before { color: #fff; }
    }

    .menu-open &.mobile-menu--toggle,
    &:active {
      background:   color($cold-grey, 500);
      border-color: color($cold-grey, 500);
      z-index: 1;
    }

    &--settings {
      &:before {
        content: icon("cog");
      }
    }

    &--logout {
      &:hover {
        background:   color($red);
        border-color: color($red, 700);
      }

      &:active {
        background:   color($red, 800);
        border-color: color($red, 900);
      }

      &:before {
        content: icon("logout");
      }
    }

    &--notifications {
      &:not([data-notifications="0"]):after {
        @extend %basic-pseudo;
        @extend %transition;
        content: attr(data-notifications);

        color: #fff;
        font-size: 10px;
        font-weight: body("bold");

        border-radius: site("br");
        background: color($red);

        padding: 2px 3px 3px;
        margin: 0 0 .1em .1em;

        @include position(absolute, null, null, 50%, 50%);
      }

      &:before {
        content: icon("earth");
      }
    }
  }
}