// =============
//  BREADCRUMBS
// =============

.breadcrumbs {
  ul {
    @extend %list-reset;
    margin-bottom: gr(2);
    overflow: hidden;
  }

  li {
    float: left;
    font-weight: body("thin");
    line-height: 1.25;

    &:not(:last-child):after {
      content: "›";
      margin: 0 .25em;
      display: inline-block;
    }

    &:last-child {
      font-weight: body("bold");
    }
  }
}