/*****************
 ** GOOGLE MAPS **
 *****************/
    
#map-canvas {
  height: 210px;
  @include border(1px solid border("color"));

  @include mq(medium, max-width) {
    @include border(0, left right);
  }

  @include mq(site("height"), min-height) { height: 325px; }

  h5 {
    font-weight: header("bold");
  }
}

.gm-style-cc,
.gmnoprint {
  display: none;
}