// ========
//  SEARCH
// ========

.search-wrap {
  @include mq(medium, max-width) {
    @include position(absolute, 0, 0, null);
    padding: .5em 1em;
    z-index: 1;
    background: darken(gray("cold"), $saturation);
  }

  label {
    @extend %nav-bar-anchor;
    @extend %transition;
    cursor: pointer;
    padding: 0;
    text-align: center;
    background: site("color");
    @include position(absolute, 0);

    &:before {
      @extend %icon-font;
      @extend %cover-all;
      content: icon(search);
      font-size: gr(1);
      top: 50%;
      margin-top: -.5em;
    }

    @include mq(medium, max-width) {
      display: none;
    }
  }
}

$search-gutter: .78em;

.global-search {
  @extend %reset-input;
  border-radius: site("br");
  line-height: 1;
  background: rgba(#fff, .1);
  width: 100%;
  max-width: 200px;
  color: #fff;
  font-size: 16px;
  padding: gr(-3) $search-gutter gr(-2);

  @include mq(medium) {
    background: darken(site("color"), $saturation);
    margin: $search-gutter 0;
    padding: ($search-gutter - .25em) $search-gutter;
    font-size: inherit;
    width: size("header-bar"); // se till att samma width sätts i scriptet som animerar bredden

    &:focus {
      width: auto;
      margin: $search-gutter;

      + label {
        display: none;
      }
    }

    @include placeholder-styling {
      color: #fff;
    }
  }

  @include placeholder-styling {
    position: relative;
    top: .15em;
    color: gray("gray");
  }
}

.search {
  @extend %reset-input;
  padding: .5em;
  font-size: 16px;
  margin-bottom: 1em;
  width: 100%;
  max-width: 22.5em;
  border: 1px solid border("color");
}
