// =======
//  FONTS
// =======

@font-face {
  font-family: icon("family");
  src: url('#{icon("path")}#{icon("family")}.eot');
  src: url('#{icon("path")}#{icon("family")}.eot?#iefix') format('embedded-opentype'),
       url('#{icon("path")}#{icon("family")}.woff') format('woff'),
       url('#{icon("path")}#{icon("family")}.ttf') format('truetype'),
       url('#{icon("path")}#{icon("family")}.svg#{icon("family")}') format('svg');
  font-weight: normal;
  font-style: normal;
}