// ==========
//  HEADINGS
// ==========

%header {
  font: header("regular") 1em/1 header("family"), header("fallback");
  margin: 0;
}

@include headings(6) {
  @extend %header;
  @extend %cursor-default;
}

h1 {
  font-size: 2em;
  font-weight: header("thin");

  @include mq(small) { font-size: gr(2); }
}

h2 {
  font-size: gr(1);

  + h3 {
    margin-top: gr(1);
  }
}


h3 { font-size: 1.3em; }
h4 { text-transform: uppercase; }