// =============
//  CORE VALUES
// =============

.core-values {
  &__words {
    @extend %clearfix;
    @extend %list-reset;
    text-align: center;

    li {
      @extend %transition;
      transition-timing-function: transition("swift-in");
      font-size: site("font-size") - 2px;
      display: inline-block;
      font-weight: body("bold");
      border-radius: site("br");
      text-transform: uppercase;
      margin: gr(-3) gr(-4);
      padding: gr(-1);
      box-shadow: 0 0 0 rgba(#000, 0);
      border: 1px solid site("color");
      background: site("color");
      color: #fff;

      @include mq(small) {
        font-size: site("font-size");
        padding: 1em;
      }

      &:hover {
        color: site("text-color");
        border-color: color($grey, 50);
        background: color($grey, 50);
        transform: scale(1.4);
        z-index: 1;
        box-shadow: 0 0 gr(1) rgba(#000, .5);
      }
    }
  }
}
