// =======
//  FRONT
// =======

.intro-text {
  max-width: 60em;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-size: gr(1);
    text-transform: none;

    @include mq(small) {
      font-size: gr(2);
    }
  }
}

.main-front {
  &.cityscape {
    border-bottom: 0;
  }
}