// ================
//  REFERENCE LIST
// ================

.reference-list {
  @extend %list-reset;

  @include mq(medium, max-width) {
    &:last-child {
      padding-bottom: cityscape("height");
    }
  }
}

.reference-item {
  text-align: center;
  overflow: hidden;
  float: left;
  margin: 0 -1px -1px 0;

                        width: 50%;
  @include mq(small)  { width: 33.333%; }
  @include mq(medium) { width: 50%; }
  @include mq(large)  { width: 33.333%; }

  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &:first-child  { border-top-left-radius:     site("br"); }
  &:last-child   { border-bottom-right-radius: site("br"); }

  @include mq(small, max-width) {
    &:nth-child(2) { border-top-right-radius: site("br"); }

    &:nth-last-child(-n+2):nth-child(1) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(3) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(5) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(7) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(9) { border-bottom-left-radius: site("br"); }

    &:nth-last-child(-n+2):nth-child(2) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(4) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(6) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(8) { border-bottom-right-radius: site("br"); }
  }

  @include mq(small, min-width, medium, max-width) {
    &:nth-child(3) { border-top-right-radius: site("br"); }

    &:nth-last-child(-n+3):nth-child(1) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+3):nth-child(4) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+3):nth-child(7) { border-bottom-left-radius: site("br"); }

    &:nth-last-child(-n+3):nth-child(3) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+3):nth-child(6) { border-bottom-right-radius: site("br"); }
  }

  @include mq(medium, min-width, large, max-width) {
    &:nth-child(2) { border-top-right-radius: site("br"); }

    &:nth-last-child(-n+2):nth-child(1) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(3) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(5) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(7) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(9) { border-bottom-left-radius: site("br"); }

    &:nth-last-child(-n+2):nth-child(2) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(4) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(6) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+2):nth-child(8) { border-bottom-right-radius: site("br"); }
  }

  @include mq(large) {
    &:nth-child(3) { border-top-right-radius: site("br"); }

    &:nth-last-child(-n+3):nth-child(1) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+3):nth-child(4) { border-bottom-left-radius: site("br"); }
    &:nth-last-child(-n+3):nth-child(7) { border-bottom-left-radius: site("br"); }

    &:nth-last-child(-n+3):nth-child(3) { border-bottom-right-radius: site("br"); }
    &:nth-last-child(-n+3):nth-child(6) { border-bottom-right-radius: site("br"); }
  }


  a {
    @extend %cover-all;
    display: block;
    display: flex;
    color: #fff;

    * {
      cursor: pointer;
    }
  }

  &--empty {
    background: site("color");
    color: #fff;
  }

  img {
    min-width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }
}


// Overlay
.reference-overlay {
  @extend %cover-all;
  @extend %transition;
  font-weight: body("bold");
  background: rgba(site("color"), .6);

  &:hover {
    background: rgba(site("color"), .9);
  }

  &:active {
    transition: none;
    background: rgba(site("color"), .95);
  }
}

// "Front"
.reference-overlay-text { // har .vertical-center
  @extend %cover-all;
  @extend %transition;
  opacity: 1;

  @include parent("reference-overlay", hover) {
    opacity: 0;
    @include transform(translateY(-100%));
  }

  > .vertical-center {
    padding: 1em;

      @include mq(medium) {
        padding: gr(1);
      }
  }

  h3 {
    text-transform: uppercase;
    font: header("bold") .8em/1 header("family"), header("fallback");
    margin-bottom: gr(-3);

    @include mq(medium) {
      font-size: 1.1em;
    }
  }

  p {
    line-height: 1.2;
    font-weight: 400;
    font-size: .9em;

    @include mq(medium, max-width) {
      display: none;
    }
  }
}

// "Back"
.read-more {
  @extend %cover-all;
  @extend %transition;

  p {
    &:after {
      content: "»";
      margin-left: .25em;
    }
  }

  @include mq(medium) {
    font-size: gr(1);
  }

  @include parent("reference-overlay", hover, negation) {
    opacity: 0;
    @include transform(translateY(100%));
  }
}
