// ================
//  REFERENCE PAGE
// ================

.project-images-wrap {
  overflow: hidden;

  @include mq(large, max-width) {
    margin: gr(1) 0 gr(5);
  }

  @include mq(large) {
    float: left;
    width: 33.333%;
  }

  @include mq(crazy) {
    width: 25%;
  }

  img {
    margin-bottom: 1em;

    @include mq(small) {
      width: 100%;
    }
  }
}

.project-page {
  @include mq(large) {
    float: right;
    width: 66.666%;
    padding-left: site("outer-padding")
  }

  @include mq(crazy) {
    width: 75%;
  }
}
