// =========
//  EXTENDS
// =========

// Core stuff
%clearfix {
  zoom: 1;

  &:before,
  &:after { content: ""; display: table; }
  &:after { clear: both; }
}

%cursor-default { cursor: default; }

%transition       { transition: all transition("duration") transition("easing"); }
%short-transition { transition: all transition("short")    transition("easing"); }

%icon-font {
  font: normal 1em/1 #{icon("family")};
  speak: none;
  vertical-align: middle;
}

%basic-pseudo {
  content: "";
  display: block;
  pointer-events: none;
}

%user-select-none { @include user-select(none); }

%overflow-scrolling { @include overflow-scrolling; }


// Animations
%animated {
  @include animation-(duration, 1s);
  @include fill-mode(both);
}

%infinite {
  @include iterations(infinite)
}


// Positioning
%cover-all       {  @include position(absolute, 0); }
%cover-all-fixed {  @include position(fixed,    0); }

%vertical-center {  @include position(absolute, 50%, 0, null);
                    transform: translateY(-50%); }

// Theme extends
%clean-link {
  color: inherit;

  &:focus, &:hover {
    text-decoration: none;
    color: site(color);
  }
}

%anchor-border {
  color: site(color);
  border-bottom: 1px solid transparent;
  line-height: 1.4;

  &:focus, &:hover {
    border-bottom-color: site(color);
  }
}

%offscreen-input {
  position: absolute;
  left: -9999px;

  + label {
    @extend %transition;
    @extend %user-select-none;
  }
}

@mixin fill-screen {
  width: calc(100% + 1.618em * 2.1); // lite lite extra, blir avrundningsfel annars
  left: -#{gr(1)};
}
