// ========
//  RESETS
// ========

/*
   [1] Sätt en standard för vertikalt flow för innehållselement såsom <p>
       och <ul>.

   [2] Sätt en standard för listor. Detta är framför allt för mer semantisk
       authoring.

   [3] Reset för listor.

   [4] Reset för input-element. Vissa inputs behöver inte samtliga resets,
       men det känns simplare att bomba på allt. Kom ihåg att även extenda
       silent class [5] på element med native styles, som t.ex. <select>.

   [5] Ta bort native styles på element såsom <select>, type="checkbox",
       type="radio" etc.
 */

%text-block { /* [1] */
  margin:      site("default-margins") 0;
  line-height: site("line-height");

  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}


%basic-list { /* [2] */
  padding-left: 0;
  list-style:   inside;
}


%list-reset { /* [3] */
  margin:      0;
  line-height: 1;
  list-style:  none;
}


%reset-input { /* [4] */
  border:     none;
  outline:    none;
  background: none;
  box-shadow: none;

  line-height:   1;
  border-radius: 0;
  padding:       0;
}


%reset-appearance { /* [5] */
  @include appearance(none);
}