// =======
//  ASIDE
// =======

.main-aside {
  @include mq(medium) {
    float: left;
    width: size("aside");
    z-index: z("low");
  }

  h2 {
    line-height: 1;
    font-size: 1.2em;
    border-left: size("highlight-border") solid site("color");
    padding: .1em 0 .1em .618em;
    text-transform: uppercase;
    margin-bottom: 1em;

    @include mq(small) {
      margin-bottom: gr(1);
    }
  }
}

$aside-nav-inset: 1.3em;

.aside-mobile {
  @include mq(medium, max-width) {
    height: 0;
    overflow: hidden;

    @include parent("submenu-open") {
      margin-bottom: gr(1);
    }
  }
}

.aside-nav {
  @include mq(medium, max-width) {
    color: #fff;
    background: site("color");
    border-radius: site("br");
    transform: translate3d(0, 0, 0);

    @include parent("submenu-open") {
      margin-bottom: gr(2);
    }

    ul {
      padding: 0;
    }

    > ul {
      padding: 1em;
    }

    a {
      &:hover,
      &:focus {
        color: inherit;
        transform: translateX(gr(-1));
      }
    }
  }

  @include mq(medium) {
    height: auto !important;
  }

  li {
    line-height: 1;

    ul {
      padding-bottom: gr(-1);
    }

    li {
      padding: 0;
    }
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: body("thin");
    padding: .45em 0;
  }
}

.submenu-parent {
  > span {
    font-weight: body("bold");
    display: block;
    text-transform: uppercase;
    margin: gr(-1) 0;
  }
}

.quicklinks-all-projects {
  margin-top: gr(2);
  overflow: hidden;

  ul {
    @extend %list-reset;
    @extend %overflow-scrolling;
    max-height: 17.5em;
    box-shadow: inset 0 0 4px rgba(#000, .1);
    padding: gr(-1) $aside-nav-inset;

    @include shadow-covers(color($grey, 200), .2, .75em);
  }

  li {
    line-height: 1;
  }

  a {
    font-weight: body("thin");
    display: block;
    padding: .33em 0;
  }
}

.quicklinks-title {
  line-height: 1;
  background: site("color");
  color: #fff;
  font-size: 1em;
  padding: gr(-1) $aside-nav-inset;
  text-transform: uppercase;
  margin: 0;
}