// ========
//  FOOTER
// ========

.site-footer {
  background:  gray("cold");
  color:       gray("dark");
  padding:     gr(2) gr(1) gr(1);
  line-height: gr(1, null);
  overflow: hidden;

  @include mq(small) {
    padding: site("outer-padding");
  }

  h5 {
    text-transform: uppercase;
    font-weight: header("bold");
    color: darken(gray("dark"), 25%);
    margin-bottom: 1em;
  }

  ul {
    @extend %list-reset;
    line-height: gr(1, null);
  }

  a {
    @extend %anchor-icons;
    color: inherit;
    display: inline-block;
    border-bottom: 0;

    &:focus,
    &:hover {
      color: #fff;
    }
  }
}


.footer-section {
  @include mq(medium)            { margin-left: gr(3); float: left; }
  @include mq(medium, max-width) { margin-top:  gr(2); }
  &:first-child                  { margin: 0; }
}

.footer-section-right {
  @include mq(medium)            { float: right; text-align: right; }
  // @include mq(medium, max-width) { margin-top: gr(2); }
}


.more-information {
  color: darken(gray("dark"), 25%);
  margin-top: gr(2);

  @include mq(medium) { float: left; }

  p {
    font-size: .9em;
    margin: 0;
  }
}