// ========
//  HEADER
// ========

.site-head {
  @include mq(medium) { padding-bottom: 3em; }
  @include mq(large)  { padding-bottom: 5em; }
}

.logo-bar {
  @extend %mobile-push;

  @include mq(medium, max-width) {
    @include cover-all(0, fixed);
    bottom: auto;
    background: site("color");
    padding: gr(-3);
    z-index: z("mid");
    border-bottom: 1px solid darken(site("color"), $saturation);
  }

  @include mq(medium) {
    position: absolute;
    top: size("header-bar");

    padding-top:  site("outer-padding");
    padding-left: site("outer-padding");
  }
}

.logo-wrap {
  display: block;
  max-width: 75px;
  margin: 0 auto;

  @include mq(medium) { max-width: 125px; }
  @include mq(large)  { max-width: 175px; }
}

.logo {
  display: block;
  width: 100%;
}