// =================
//  MAIN NAVIGATION
// =================

nav {
  ul {
    @extend %list-reset;
  }
}

.site-nav {
  @extend %mobile-push;

  @include mq(medium, max-width) {
    background:     gray("cold");
    width:          size("mobile-menu");
    padding-top:    size("header-bar");
    padding-bottom: size("mobile-menu");
    z-index: 1;

    @include position(fixed, 0, 100%, 0, null);
    @include overflow-scrolling;
  }

  li {
    @extend %transition;
    text-transform: uppercase;

    @include mq(medium) {
      float: left;
    }
  }

  a {
    display: block;
    font: header("regular") 1em/1 header("family"), header("fallback");

    @include mq(medium, max-width) {
      color: gray("dark");
      padding: 1em;
      border-left: size("highlight-border") solid transparent;
      font-size: .9em;

      &.current,
      html.no-touch &:hover,
      html.no-touch &:focus,
      &:active {
        color: #fff;
        background: darken(gray("cold"), $saturation);
        border-left-color: site("color");
      }
    }

    &:before {
      @extend %icon-font;
      display: inline-block;
      vertical-align: -5%;
      margin-right: gr(-1);

      @include mq(medium) {
        display: none;
      }
    }

    //&[data-nav-target="home"]:before     { content: icon(home)     }
    &[data-nav-target="about"]:before    { content: icon(about)    }
    &[data-nav-target="news"]:before     { content: icon(news)     }
    &[data-nav-target="career"]:before   { content: icon(career)   }
    &[data-nav-target="language"]:before { content: icon(language) }
  }
}

%nav-bar-anchor { // extendas av search label
  @include mq(medium) {
    font-size: .9em;
    padding: gr(1);
    color: #fff;

    &:focus,
    &:hover,
    &.current {
      background: darken(site("color"), $saturation);
    }
  }
}

.nav-bar-blue {
  $nav-gutter: 1em;

  @include mq(medium, max-width) {
    margin: ($nav-gutter * 2) 0 $nav-gutter;
    
    // släpp loss sökfält
    position: static;

    ul { position: static; }
  }

  @include mq(medium) {
    background: site("color");
  }

  li {
    @include mq(medium) {
      border-left: 1px solid lighten(site("color"), $saturation);

      &:not(.search-wrap):hover,
      &:hover + li {
        border-color: darken(site("color"), $saturation);
      }
    }
  }

  a {
    @extend %nav-bar-anchor;
  }
}

.main-nav {
  @include mq(medium) {
    padding-top:   (site("outer-padding") - size("nav-padding"));
    padding-right: (site("outer-padding") - size("nav-padding"));
  }

  a {
    @include mq(medium) {
      padding: size("nav-padding");
      font-weight: body("bold");
    }

    &:after {
      @extend %transition;
      @extend %basic-pseudo;
      @extend %cover-all;
      bottom: auto;
      top: 100%;
      width: 0;
      height: 3px;
      margin: 0 auto;
      background: lighten(site("color"), $saturation); // lighten, annars ser den mörkare ut än texten..

      @include mq(medium, max-width) {
        display: none;
      }
    }

    &:focus,
    &:hover,
    &.current {
      &:after {
        width: 100%;
      }
    }
  }
}

.right-aligned {
  @include mq(medium) {
    float: right;
  }
}


[data-navigation-type] {
  @include mq(medium, max-width) {
    margin-bottom: gr(2);

    &:before {
      display: block;
      content: attr(data-navigation-type);

      color: darken(gray("dark"), 25%);
      text-transform: uppercase;
      font: header("bold") 1em/1 header("family"), header("fallback");
      
      margin: 0 1em gr(-1);
      padding-left: size("highlight-border") - 1px; // wat
    }
  }
}
