// =======
//  FONTS
// =======

@font-face {
  font-family: icon("family");
  src: url('/assets/fonts/#{icon(family)}.eot');
  src: url('/assets/fonts/#{icon(family)}.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/#{icon(family)}.woff') format('woff'),
       url('/assets/fonts/#{icon(family)}.ttf') format('truetype'),
       url('/assets/fonts/#{icon(family)}.svg##{icon(family)}') format('svg');
  font-weight: normal;
  font-style: normal;
}