// ============
//  ANIMATIONS
// ============

@include if(cssanimations) {
  // Fade in och slide down for hero-text
  @at-root {
    @-webkit-keyframes fadeInDrop { 
      from { opacity: 0; -webkit-transform: translateY(-50%); }
      to   { opacity: 1; -webkit-transform: translateY(0); }
    }

    @keyframes fadeInDrop { 
      from { opacity: 0; transform: translateY(-50%); }
      to   { opacity: 1; transform: translateY(0); }
    }
  }

  .jumbo-text {
    opacity: 0;
    @include animation(fadeInDrop 1.618s forwards trans("easing") .618s)
  }
  

  // Fade in av objekt på personalsida
  @at-root {
    @keyframes fadeIn  {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1.2s forwards trans("easing");
  }
}