// ===============
//  GLOBAL LAYOUT
// ===============

/*
  [1] Stadslandskap på botten av elementet. Designat för att appliceras på .main,
      men det borde fungera på vilket element som helst.

  [2] Andra element ska lägga sig över cityscape-bilden.

  [3] Vi "trycker iväg" hela sidan för att föra in mobilmenyn. Det finns flera
      anledningar till varför, bl.a. overflow. Alla element som ska röra sig när
      menyn öppnas måste vara extendade till den eller vara barn till något som
      extendar den.

  [4] Sätter fast .page-head mot toppen av dokumentet för att låta innehåll flyta
      upp under den. Menyobjekt förändras för att de fortfarande ska vara synliga.

  [5] Sticky footer-lösning genom flexbox. Är obeprövat, risken är att den ökar
      paint times och/eller att den bryter sidan i webbläsarversioner som var
      tidiga ut med stöd för flexbox. But is so very nice.
 */


.wrap {
  max-width: site("width");
  margin: 0 auto;
  padding: 0 site("outer-padding");
}

.section {
  padding: gr(3) 0;
}

.main {
  padding: site("outer-padding") gr(1);

  @include mq(small) {
    padding: site("outer-padding");
  }
}

.main-front {
  margin-top: 0;
}

.main-body {
  &:not(.no-limit) {
    max-width: site("width") - size("aside");
  }

  > div {
    &:not(:last-child) {
      margin-bottom: site("outer-padding");
    }
  }

  @include mq(medium, max-width) {
    padding-top: gr(1);
    border-top:  1px solid border("color");
  }

  @include mq(medium) {
    margin-left: (size("aside") + 1.618em);

    @include parent("sidebar-holder") {
      border-left:  1px solid border("color");
      padding-left: site("outer-padding");
    }
  }
}

.cityscape { /* [1] */
  border-bottom: (cityscape("border") / 2) solid cityscape("color");

  @include mq(medium) {
    border-bottom-width: cityscape("border");
    padding-bottom: (cityscape("height") * gr(1, null));

    &.main-front {
      padding-bottom: cityscape("height");
    }
  }

  > .sidebar-holder,
  section { /* [2] */
    z-index: 2;
  }

  &:after {
    @extend %cover-all;
    top: auto;
    content: "";
    display: block;
    height: cityscape("height");
    max-width: cityscape("width");
    width: 100%;
    margin: 0 auto;
    z-index: 1;

    background: #fff cityscape("url") no-repeat bottom center;
    background-size: 80%;
  }
}


%mobile-push { /* [3] */
  transition: transform trans("duration") trans("swift-in");

  @include parent("menu-open") {
    @include mq(medium, max-width) {
      @include transform(translateX(size("mobile-menu")));
    }
  }
}

.mobile-push {
  @extend %mobile-push;

  @include mq(medium, max-width) {
    padding-top: gr(2);

    background: #fff;
    box-shadow: 0 0 gr(-1) rgba(#000, .618);
  }
}

.site-container {
  overflow: hidden;

  &.sticky-header { /* [4] */
    @include mq(medium) {
      .site-container {
        padding-top: size("header-bar");
      }

      .site-head {
        @include position(absolute, 0, 0, null, 0);
        z-index: z(low);
      }

      .logo-wrap,
      .nav-bar-blue {
        box-shadow: site("box-shadow");
      }

      .main-nav {
        a {
          color: #fff;
          text-shadow: 0 0 .2em rgba(#000, .75);

          &:after {
            background: #fff;
          }
        }
      }
    }
  }
}


body,
.mobile-push,
.site-container { /* [5] */
  display: flex;
  flex-direction: column;
}

.main,
.site-container,
.mobile-push {
  flex-grow: 1;
}


.flash-book__wrap {
  @include mq(1430px, max-width) {
    left: -130px;
  }
}
