// ==========
//  DEFAULTS
// ==========

body {
  @extend %transition;
}

a {
  @extend %transition;
  text-decoration: none;
  color: inherit;

  p & {
    border-bottom: 1px solid color($grey, 300);
  }

  &:focus,
  &:hover {
    color: site("color");

    p & {
      border-bottom-color: lighten(site("color"), 20%);
    }
  }
}

*, :before, :after { box-sizing: border-box; position: relative; }

strong, b { font-weight: body("bold"); }

ul, ol {
  padding-left: 0;
  list-style-position: inside;
}

img {
  display:        inline-block;
  vertical-align: middle;
  max-width:      100%;
  height:         auto !important;
}

::selection {
  background:  site("color");
  color:       #fff;
  text-shadow: none;
}

table {
  text-align: left;
}

td, th {
  line-height: 1;
  padding: gr(-1);

  &:first-child { padding-left: 0; }
}

%cursor-default { cursor: default; }

p, ul {
  @extend %default-margins;
  @extend %cursor-default;
}

span, td, th, div {
  @extend %cursor-default;
}



%header {
  font: header("bold") 1em/1.1 header("family"), header("fallback");
  margin: gr(1) 0 0;

  &:first-child {
    margin-top: 0;
  }
}

@include headings(6) {
  @extend %header;
  @extend %cursor-default;
}

h1 {
  font-size: gr(1);
  font-weight: header("bold");
  color: site("color");

  @include mq(small) {
    font-size: gr(2);
    font-weight: header("regular");
  }
}

h2 {
  font-size: gr(1);
}

h3 {
  font-size: 1.3em;
  margin-bottom: gr(-1);

  + p {
    margin-top: 0;
  }
}

hr {
  border: 0;
  border-top: 1px solid border("color");
}
