.icon-font { @extend %icon-font; }
.cf        { @extend %clearfix; }

.vertical-center { @extend %cover-all; @extend %vertical-center; }

.limit-width {
  max-width: 60em;
}


body.en {
  .hide-en {
    display: none !important;
  }
}