// =======
//  THEME
// =======

.skin {
  background: cityscape("color");
  border-radius: site("br");

  &--padding {
    padding: 1em;

    @include mq(small) {
      padding: gr(1);
    }
  }

  @include headings(3, 1) {
    color: site("color");
  }
}

.highlight {
  padding: 1em gr(1);
  margin: 1em 0;
  border-left: size("highlight-border") solid site("color");
  background: cityscape("color");

  @include headings(3, 1) {
    color: site("color");
  }

  &-section {
    padding: gr(-1) 1em;
    border-radius: site("br");
    background: color($grey, 100);
    box-shadow: 0 1px 1px color($grey, 400);
    font-size: 1.1em;
    color: #000;

    strong {
      color: site("color");
      font-weight: body("bold");
      font-size: 1.25em;
      margin: 0 gr(-4);
    }
  }
}

.outline {
  border: 3px solid #fff;
  box-shadow: inset 0 0 0 1px border("color");
  outline: 1px solid border("color");
  padding: 1em gr(1);
  background: cityscape("color");
}