// ==============
//  LOGIN FOOTER
// ==============

.login-copyright {
  animation: fadeIn gr(1, s) 1s forwards;
  opacity: 0;

  text-align: center;
  color: color($grey);
  
                       font-size: .7em;
  @include mq(small) { font-size: .9em; }

  @include mq(400px, min-height) {
    @include position(absolute, null, 0, 0);
    margin-bottom: 1px; // fixa scrollbar
  }

  p {
    line-height: gr(1, null);
    margin:  0;
    padding: 0 .5em;
  }

  a {
    &:focus,
    &:hover {
      color: #fff;
    }
  }
}

.login-copyright-text {
  @extend %transition;
  padding: gr(1);
  display: inline-block;

  &:not(:hover) { opacity: .33; }
}