// ============
//  LOGIN FORM
// ============

$login-button-width: 13em;

#login-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px; // fixa visuell glitch i chrome :P

  @include mq(small, max-width) {
    flex-direction: column;
  }

  ul { @extend %list-reset; }

  li {
    display: block;

    &:not(:first-child) { margin-top: gr(2); }
  }

  label {
    display: block;
    font-weight: body("bold");
    left: .25em;
  }

  input {
    border: 0;
    flex-grow: 1;
    font-weight: body("thin");

    background: none;
    margin-top: .2em;
    padding: .1em 0;
    border-bottom: 1px dotted border("color");

                         font-size: 2em;
    @include mq(small) { font-size: gr(2); }
  }

  .login-button {
    @extend %transition;
    @extend %reset-input;

    overflow: hidden;
    color: #fff;
    padding: 1em;
    background: color($green, 400);
    backface-visibility: hidden; // behövs för att inte glitcha i chrome

    @include mq(small) {
      width: $login-button-width;
    }

    &[disabled] {
      background: site("text-color");
      cursor: not-allowed;
    }

    &:not([disabled]) {
      &:before { animation: login .75s; }
    }

    &:before {
      @extend %icon-font;
      content: icon("login");

                           font-size: 34px;
      @include mq(small) { font-size: 55px; }
    }
  }
}


.login-inputs {
  flex-grow: 1;

                        padding: gr(2) gr(1);
  @include mq(medium) { padding: gr(3) gr(2); }
}
