// =======
//  LOGIN
// =======

.login-body {
  height: 100%;
  background: color($cold-grey);
  // overflow: hidden;
}

.login-wrap {
  display: flex;
  
  height: 100%;
  background-size: cover;
  background-position: center center;
  
  @include mq(1000px, max-width) { background-image: url(/assets/img/backgrounds/login-background-lt1k.jpg); }
  @include mq(1000px)            { background-image: url(/assets/img/backgrounds/login-background-gt1k.jpg); }
  @include mq(2000px)            { background-image: url(/assets/img/backgrounds/login-background-gt2k.jpg); }
}

.login-header {
  color: #fff;
  margin-bottom: gr(1);

  p, h1 {
    font: body("thin") 1.3em/1.3 body("family"), body("fallback");
    margin: 0;
    left: -.09em;
  }

  h1 { font-size: gr(2); }

  @include mq(small) {
    @include position(absolute, null, 0, 100%);
  
    p  { font-size: gr(1); }
    h1 { font-size: gr(3); }
  }

}

.login-page {
  @extend %cover-all;
  padding: gr(1);
  display: flex;

  @include mq(small) {
    justify-content: center;
  }

  &.ng-leave         { animation: flyOutLeft .75s; }

  // animationen avbryts tidigt om animation delay är kortare än animationslängen?!
  &.ng-enter.success { animation: flyInRight .75s .8s; opacity: 0; } 
}

.login-frame {
  align-self: center;
  width: 55em;
  max-width: 100%;
  animation: fadeInTop gr(-1, s) transition("elastic2") .33s forwards;

  html:not(.no-cssanimations) & { opacity: 0; }

  @include mq(small, max-width) {
    margin-top: -6em;
  }
}

.login-area {
  background: #fff;
  overflow: hidden;
  align-self: center;

  &.error {
    animation: shake .8s;

    .login-button {
      background: color($red) !important;
    }
  }
}

.login-warning {
  @extend %cover-all;
  bottom: auto;
  z-index: z("high");
  display: none;

  color: #fff;
  background: color($red);
  box-shadow: site("box-shadow");
  animation: fadeIn 1s;
  
  padding: 1em;
  text-align: center;
  font-weight: body("bold");
}