// ============
//  ANIMATIONS
// ============

@keyframes login {
  0%, 100% { transform: translateX(0); }

  30%   { transform: translateX(-1em ); }
  50%   { transform: translateX( 10em); }
  50.1% { transform: translateX(-10em); }
  70%   { transform: translateX( 1em ); }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeInTop {
  0%   { opacity: 0; transform: translateY(-#{gr(2)}); }
  100% { opacity: 1; transform: translateY(0);         }
}

@keyframes fadeOutTop {
  0%   { opacity: 1; transform: translateY(0);         }
  100% { opacity: 0; transform: translateY(-#{gr(2)}); }
}

@keyframes fadeOutGrow {
  0%   { opacity: 1; }
  100% { opacity: 0; transform: scale(1.05); }
}

@keyframes spin {
  0%   { transform: rotate(0);      }
  100% { transform: rotate(360deg); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% { transform: translateX(-1em); }
  20%, 40%, 60%, 80%      { transform: translateX( 1em); }
}

@keyframes flyOutLeft {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(1.8em); }
  30%  { transform: translateX(2em);   opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes flyInRight {
  0%   { transform: translateX(100%);      opacity: 0; }
  60%  { transform: translateX(-#{gr(1)}); opacity: 1; }
  100% { transform: translateX(0);         opacity: 1; }
}