// =========
//  GLOBALS
// =========

*,
:before,
:after {
  position: relative;
  box-sizing: inherit; // ärv från html
}

::selection {
  background:  lighten(site("color"), 60%);
  color:       site("text-color");
  text-shadow: none;
}

a {
  @extend %transition;
  text-decoration: none;
  color: inherit;

  &:focus,
  &:hover {
    color: site("color");
  }

  &:active {
    transition: none;
  }
}

img {
  display:        inline-block;
  vertical-align: middle;
  max-width:      100%;
  height:         auto !important;
}

small {
  display: block;
}

strong, b {
  @if body("bold") != 700 {
    font-weight: body("bold");
  }
}

ul, ol {
  @extend %basic-list;
  @extend %text-block;
  @extend %cursor-default;
}

ol {
  list-style-type: decimal;
}

p {
  @extend %text-block;
  @extend %cursor-default;
}

span, td, th, div {
  @extend %cursor-default;
}

table {
  text-align: left;
  // table-layout: fixed;
}

td, th {
  padding: .5em;

  &:first-child {
    padding-left: 0;
  }
}

th {
  font-weight: body("bold");
  text-align: left;
}

form {
  display: block;
}
