// =========
//  HELPERS
// =========

.cf {
  @extend %clearfix;
}

.flex-parent      { display: flex; justify-content: space-between; }
.centered-content { text-align: center; }

.jumbo-text {
  font-weight: body("thin");

                       font-size: gr(2);
  @include mq(small) { font-size: gr(3); }
  @include mq(huge)  { font-size: gr(4); }
}

[ng-cloak] { display: none !important; }

.line-component {
  float: left;

  &--padded {
    margin: 0 gr(-1) gr(-1) 0;
  }
}

.row {
  margin: gr(1) 0;

  &--small {
    margin: gr(-1) 0;
  }

  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}

.cover-all {
  @include position(absolute, 0);
}
