// ===============
//  GLOBAL LAYOUT
// ===============

body {
  min-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  @include mq(medium, max-width) {
    &.has-mobile-menu {
      padding-top: gr(2);
    }
  }

  @include mq(medium) {
    &.has-sidebar {
      padding-left: site("aside-width");
    }
  }
}

.site-main {
  padding-bottom: gr(1);

  @include mq(tiny)   { padding: 0     1em   gr(1); }
  @include mq(small)  { padding: 0     gr(1) gr(1); }
  @include mq(medium) { padding: gr(2) gr(1); }
  @include mq(large)  { padding: gr(2); }

  @include mq(small, max-width) {
    > h1 {
      text-align: center;
    }
  }

  $fade-duration: .2s;

  &.ng-enter { opacity: 0; animation: fadeIn  $fade-duration $fade-duration; }
  &.ng-leave { opacity: 1; animation: fadeOut $fade-duration; }
}


.mobile--pull-out {
  @include mq(small, max-width) {
    left:  -#{gr(1)};
    width: calc(100% + 1px + (#{gr(1)} * 2));
  }

  @include mq(medium, max-width) {
    left:  -#{gr(2)};
    width: calc(100% + 1px + (#{gr(2)} * 2));
  }
}

.main-header { margin-bottom: gr(2); }

.main-field {
  margin-top: gr(1);

  @include mq(tiny, max-width) {
    position: static;
  }
}

.site-width  {
  max-width: site("width");
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  html[data-useragent*='MSIE 10.0'] & {
    display: block;
  }
}

.site-container {
  padding-top: site("top-bar");
  display: flex;
  flex-grow: 1;
  z-index: 1; // allow popovers like confirmation dialogs to lie above the aside
}

.slide-image {
  min-width: 100px;
}

.status {
  &--delete {
    pointer-events: none;
    opacity: gr(-2, null);
    user-select: none;
  }
}
