// =======
//  THEME
// =======

%skin {
  background:    site("skin-color");
  box-shadow:    site("box-shadow"), inset 0 0 0 1px #fff;
  border-radius: site("br");
}

.skin {
  @extend %skin;

  &--dark {
    background: color($grey, 300);
    border-radius: site("br");
    padding: 1em;
  }
}


%block-padding {
  padding: gr(1);

  @include mq(medium) { padding: gr(2); }
}

.block-padding { @extend %block-padding; }