// ===============
//  MEDIA QUERIES
// ===============

// brytpunkter för media queries:
$breakpoints: (
  "tiny":   siteWidth(0.35),
  "small":  siteWidth(0.60),
  "medium": siteWidth(0.75),
  "large":  siteWidth(1.00),
  "huge":   siteWidth(1.25),
  "crazy":  siteWidth(1.50)
);

// hämta brytpunkt från kartan ovan:
@function breakpoint($size) {
  @return if(map-has-key($breakpoints, $size), map-get($breakpoints, $size), $size);
}

// mixin för media queries: (inkludera en brytpunkt eller skriv ett värde manuellt)
@mixin mq($size, $direction: min-width, $size2: null, $direction2: max-width) {
  @if $size2 == null {
    @media ($direction: breakpoint($size)) {
      @content;
    }
  }

  @else {
    @media ($direction: breakpoint($size)) and ($direction2: breakpoint($size2)) {
      @content;
    }
  }
}

// silent classes för att dölja objekt på olika brytpunkter: (extenda en brytpunkt)
@each $size, $breakpoint in $breakpoints {
  %hide-#{$size} {
    @include mq($size) {
      display: none !important;
    }
  }
}