// ======================
//  MODIFIERAD NORMALIZE
// ======================

$html5-elements: true !default;
$media-elements: true !default;
$development:    true !default;
$svg:            true !default;
$reset-inputs:   true !default;
$reset-search:   true !default;

html {
  height: 100%;
  font: body("regular") #{site("font-size")}/1 body("family"), body("fallback");
  box-sizing: border-box;
  
  // Förhindra textstorleksförändringen vid byte mellan porträtt/landskap
  -webkit-text-size-adjust: 100%; 
      -ms-text-size-adjust: 100%;
  
  // font anti-aliasing
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100%; // Detta + 100% height på html borde få bodybakgrunder att visas korrekt
  background: site("bg-color");
  color:      site("text-color");
}

@if $html5-elements == true {
  article, aside, footer, header, main, nav, section {
    display: block; // lte IE9
  }
}

@if $media-elements == true {
  audio, canvas, video, progress {
    display: inline-block; // lte IE9
    vertical-align: baseline; // Olika mellan webbläsare
  }

  audio:not([controls]) {
    display: none; // Visa aldrig <audio> utan kontrollpanel
    height: 0; // Onödig höjd i äldre iOS
  }
}

template,
[hidden] {
  display: none; // lte IE9
}

a {
  background: transparent; // Ta bort bakgrundsfärg på :active i IE10
  outline: 0; // Kom bara ihåg att lägga in :focus-regler
}

img {
  outline: 0; // lte IE9, a > img
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

hr { // Fx skiljer sig från andra webbläsare
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  
  height: 0;
}

@if $svg == true {
  svg:not(:root) {
    overflow: hidden;
  }
}

@if $development == true {
  pre {
    overflow: auto; // Because varför inte
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
}

@if $reset-inputs == true {
  button,
  input,
  select,
  textarea {
    font: inherit;
    color: inherit;
    margin: 0;

    // font anti-aliasing ärvs inte från html
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased; 
  }

  button,
  input,
  a {
    -ms-touch-action: none;
        touch-action: none; // Ta bort 300ms delay på klick
  }

  button,
  select {
    text-transform: none; // Ärvs på olika sätt i olika webbläsare
  }

  button {
    overflow: visible; // Är "hidden" i lte IE10
  }


  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; // Behövs för att kunna ge stilregler
    cursor: pointer; // Särskilj "submit"-type knappar från andra inputs
  }

  button[disabled],
  html input[disabled] {
    cursor: default; // Återställ cursor från föregående
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; // lte IE10
    padding: 0; // lte IE10
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  @if $reset-search == true {
    input[type="search"] {
      -webkit-appearance: textfield;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; // Korrigera visuell bugg från appearance: textfield
    }
  }

  textarea {
    overflow: auto; // lte IE9, vertikal scroll annars
    resize: vertical;
  }
}