// ===========
//  VARIABLES
// ===========

$site: (
  "font-size":       13px,

  "width":           90em,
  "height":          960px,
  "gutter":          0.05,
  "default-margins": gr(1),
  "line-height":     1.55,

  "color":           #0050a0,
  "text-color":      color($grey, 800),
  "bg-color":        color($grey, 400),
  "skin-color":      color($grey, 50),
  "aside-width":     18em,
  "flex-gutter":     1em,
  "mobile-menu":     3em,
  "top-bar":         gr(3),

  "br":              3px,
  "box-shadow":      0 1px 2px rgba(color($cold-grey), gr(-3, null))
); @function site($value) { @return map-get($site, $value); }


$body-font: (
  "family":   "Lato",
  "fallback": sans-serif,

  "thin":     300,
  "regular":  400,
  "bold":     700
); @function body($value) { @return map-get($body-font, $value); }


$header-font: (
  "family":   "Roboto",
  "fallback": sans-serif,

  "thin":     300,
  "regular":  400,
  "bold":     700
); @function header($value) { @return map-get($header-font, $value); }


$saturation: 5%;


$border: (
  "width": 1px,
  "thick": 5px,
  "style": solid,
  "color": color($grey, 300),
  "light": color($grey, 200),
  "dark":  color($grey),
  "theme": .5em
); @function border($value) { @return map-get($border, $value); }


$input: (
  "header-size":   3.5em,
  "header-weight": body("thin"),
  "header-width":  10em,

  "size":          16px,
  "padding":       gr(-2, rem),
  "background":    color($grey, 100)
); @function input($value) { @return map-get($input, $value); }


$z-index: (
  "high": 900,
  "mid":  500,
  "low":  100
); @function z($value) { @return map-get($z-index, $value); }


$icons: (
  // settings:
  "family":       "icomoon",
  "path":         "../fonts/",
  "push":         .4em,

  // system:
  "pencil":       "\e600",
  "users":        "\e972",
  "users-add":    "\e973",
  "house":        "\e902",
  "cog":          "\e609",
  "earth":        "\e604",
  "statistics":   "\e99a",
  "checkmark":    "\e607",
  "info":         "\e60c",
  "help":         "\e602",
  "warning":      "\e60e",
  "text":         "\e922",
  "grid":         "\e601",
  "list":         "\e603",
  "menu":         "\e120",
  "file-empty":   "\e924",
  "file-text2":   "\e926",
  "copy":         "\e92c",
  "news":         "\e606",

  // common icons:
  "minus":        "\e608",
  "plus":         "\e604",
  "cross":        "\e60a",
  "cross-large":  "\e117",
  "arrow-up":     "\e60b",
  "arrow-down":   "\e60c",

  // actions:
  "publish":      "\e605",
  "logout":       "\ea14",
  "login":        "\ea13",
  "trash":        "\e600",
  "search":       "\e986",

  "image":        "\e010"
); @function icon($value) { @return map-get($icons, $value); }


$transition: (
  "duration":  .25s,
  "short":      .1s,
  "easing":     ease,
  "sticky":     cubic-bezier(.6, .06,  .3,  1),
  "elastic":    cubic-bezier(.15, 1.4, .2,  1),
  "elastic2":   cubic-bezier(.33, 1.3, .66, 1),
  "swift-out":  cubic-bezier(.55, 0,   .1,  1),
  "swift-out2": cubic-bezier(.55, 0,   .1,  1.3),
  "swift-in":   cubic-bezier(.1,  1,   .55, 1),
  "swift-in2":  cubic-bezier(.1,  1.3, .55, 1),
); @function transition($value) { @return map-get($transition, $value); }


// etc:
$delay-child: null !default;


// setup normalize: (true/false)
$html5-elements: false;
$media-elements: false;
$development:    false;
$svg:            false;
$reset-inputs:   true;
$reset-search:   true;
